Repository alibaba/ice, pull requests merged in 2019-07, with the labels that each got.

#2231 fix: material page bugfix
  packages/iceworks-client/src/hooks/useMaterial.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Material/components/AddMaterialModal/index.js
  packages/iceworks-client/src/pages/Material/components/DeleteMaterialModal/index.js
  packages/iceworks-client/src/pages/Material/components/DeleteMaterialModal/index.module.scss
  packages/iceworks-client/src/pages/Material/index.js
Labels: iceworks 3.0

#2295 feature: 封装面板头部
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/components/DEFPanel/index.js
  packages/iceworks-client/src/pages/Project/components/DependencyPanel/index.js
  packages/iceworks-client/src/pages/Project/components/DependencyPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/FallbackPanel/index.js
  packages/iceworks-client/src/pages/Project/components/GitPanel/index.js
  packages/iceworks-client/src/pages/Project/components/GitPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/LayoutPanel/index.js
  packages/iceworks-client/src/pages/Project/components/LayoutPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/MenuPanel/index.js
  packages/iceworks-client/src/pages/Project/components/MenuPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/OSSPanel/index.js
  packages/iceworks-client/src/pages/Project/components/OSSPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/PagePanel/index.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/Panel/head.js
  packages/iceworks-client/src/pages/Project/components/Panel/head.module.scss
  packages/iceworks-client/src/pages/Project/components/Panel/index.js
  packages/iceworks-client/src/pages/Project/components/Panel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/RouterPanel/index.js
  packages/iceworks-client/src/pages/Project/components/RouterPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/TodoPanel/index.js
  packages/iceworks-client/src/pages/Project/components/TodoPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/index.js
Labels: iceworks 3.0

#2282 Iceworks/cli
  tools/iceworks-cli/bin/iceworks.js
  tools/iceworks-cli/command/start.js
  tools/iceworks-cli/package.json
Labels: iceworks 3.0

#2310 fix: ast parse error
  packages/iceworks-client/src/components/DynamicForm/index.js
  packages/iceworks-server/src/lib/adapter/utils/cliConf.ts
Labels: iceworks 3.0

#2303 Iceworks/start guide panel
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/components/GuidePanel/index.js
  packages/iceworks-client/src/pages/Project/components/GuidePanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/SettingPanel/index.js
  packages/iceworks-client/src/pages/Project/components/SettingPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/pages/Project/index.module.scss
  packages/iceworks-client/src/stores/index.js
  packages/iceworks-client/src/stores/settingPanel.js
Labels: iceworks 3.0

#2307 [iceworks] xterm optim
  packages/iceworks-client/package.json
  packages/iceworks-client/src/appConfig.js
  packages/iceworks-client/src/components/GlobalBar/index.js
  packages/iceworks-client/src/components/GlobalBar/index.module.scss
  packages/iceworks-client/src/components/XtermTerminal/index.js
  packages/iceworks-client/src/components/XtermTerminal/index.module.scss
  packages/iceworks-client/src/hooks/useTermTheme.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Engineering/components/Task/index.js
  packages/iceworks-client/src/pages/Setting/components/General/index.js
  packages/iceworks-client/src/utils/termManager.js
Labels: iceworks 3.0

#2273 feat: dynamic load adapter
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/pages/Project/index.module.scss
  packages/iceworks-server/src/lib/adapter-react-v1/modules/menu/index.ts
  packages/iceworks-server/src/lib/adapter/modules/menu/index.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2320 Optimize tip icon
  packages/iceworks-client/ice.config.js
  packages/iceworks-client/src/components/TipIcon/index.js
  packages/iceworks-client/src/components/TipIcon/index.module.scss
  packages/iceworks-client/src/pages/Project/components/Panel/head.js
  packages/iceworks-client/src/pages/Project/components/Panel/head.module.scss
Labels: iceworks 3.0

#2314 [iceworks]feat i18n log
  packages/iceworks-server/src/app/io/controller/home/setting.ts
  packages/iceworks-server/src/app/middleware/client.ts
  packages/iceworks-server/src/interface/base.ts
  packages/iceworks-server/src/interface/configuration.ts
  packages/iceworks-server/src/interface/layout.ts
  packages/iceworks-server/src/interface/oss.ts
  packages/iceworks-server/src/interface/page.ts
  packages/iceworks-server/src/interface/task.ts
  packages/iceworks-server/src/lib/adapter-react-v1/README.md
  packages/iceworks-server/src/lib/adapter-react-v1/index.ts
  packages/iceworks-server/src/lib/adapter-react-v1/modules/menu/index.ts
  packages/iceworks-server/src/lib/adapter-react-v1/modules/router/index.ts
  packages/iceworks-server/src/lib/adapter-react-v2/README.md
  packages/iceworks-server/src/lib/adapter-react-v2/index.ts
  packages/iceworks-server/src/lib/adapter-react-v2/modules/menu/index.ts
  packages/iceworks-server/src/lib/adapter-react-v2/modules/router/index.ts
  packages/iceworks-server/src/lib/adapter-react-v3/README.md
  packages/iceworks-server/src/lib/adapter-react-v3/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/README.md
  packages/iceworks-server/src/lib/adapter-vue-v1/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/modules/configuration/configSchema.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/modules/configuration/getConfigSchema.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/modules/configuration/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/modules/task/getTaskConfig.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/modules/task/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/modules/task/taskConfig.ts
  packages/iceworks-server/src/lib/adapter/index.ts
  packages/iceworks-server/src/lib/adapter/locales/en-US.json
  packages/iceworks-server/src/lib/adapter/locales/zh-CN.json
  packages/iceworks-server/src/lib/adapter/modules/configuration/configSchema.ts
  packages/iceworks-server/src/lib/adapter/modules/configuration/getConfigSchema.ts
  packages/iceworks-server/src/lib/adapter/modules/configuration/index.ts
  packages/iceworks-server/src/lib/adapter/modules/dependency/index.ts
  packages/iceworks-server/src/lib/adapter/modules/layout/index.ts
  packages/iceworks-server/src/lib/adapter/modules/oss/index.ts
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
  packages/iceworks-server/src/lib/adapter/modules/task/getTaskConfig.ts
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
  packages/iceworks-server/src/lib/adapter/modules/task/taskConfig.ts
  packages/iceworks-server/src/lib/plugin/i18n/app.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
  packages/iceworks-server/src/lib/plugin/project-manager/package.json
  packages/iceworks-server/src/lib/recursiveReaddir.ts
  packages/iceworks-server/src/locale/en-US.json
  packages/iceworks-server/src/locale/zh-CN.json
  packages/iceworks-server/src/locales/en-US.json
  packages/iceworks-server/src/locales/zh-CN.json
Labels: iceworks 3.0

#2304 Iceworks/quick task panel
  packages/iceworks-client/src/components/TaskBar/index.js
  packages/iceworks-client/src/components/TaskButton/index.js
  packages/iceworks-client/src/components/TaskButton/index.module.scss
  packages/iceworks-client/src/hooks/useDependency.js
  packages/iceworks-client/src/hooks/useTask.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Engineering/components/Task/index.js
  packages/iceworks-client/src/pages/Engineering/components/Task/stores/index.js
  packages/iceworks-client/src/pages/Engineering/components/TaskModal/index.js
  packages/iceworks-client/src/pages/Project/components/DEFPanel/index.js
  packages/iceworks-client/src/pages/Project/components/QuickBuildPanel/index.js
  packages/iceworks-client/src/pages/Project/components/QuickDevPanel/index.js
  packages/iceworks-client/src/pages/Project/components/TaskItem/index.js
  packages/iceworks-client/src/pages/Project/components/TaskItem/index.module.scss
  packages/iceworks-client/src/pages/Project/panels.js
  packages/iceworks-client/src/stores/globalTerminal.js
  packages/iceworks-client/src/stores/index.js
  packages/iceworks-client/src/stores/task.js
  packages/iceworks-client/src/utils/writeGlobalLog.js
  packages/iceworks-server/src/lib/adapter/index.ts
Labels: iceworks 3.0

#2323 Fix vue adapter
  packages/iceworks-server/src/interface/base.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/modules/configuration/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/modules/task/getTaskConfig.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/modules/task/index.ts
Labels: iceworks 3.0

#2327 [iceworks] clear log error
  packages/iceworks-client/src/components/XtermTerminal/index.js
Labels: iceworks 3.0

#2326 [iceworks] quick task panel
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/components/QuickBuildPanel/index.js
  packages/iceworks-client/src/pages/Project/components/QuickDevPanel/index.js
  packages/iceworks-client/src/pages/Project/components/TaskItem/index.js
  packages/iceworks-server/src/lib/adapter-react-v1/index.ts
  packages/iceworks-server/src/lib/adapter/index.ts
  packages/iceworks-server/src/lib/adapter/locales/en-US.json
  packages/iceworks-server/src/lib/adapter/locales/zh-CN.json
Labels: iceworks 3.0

#2332 fix: fix i18n setting
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Engineering/components/Configuration/index.js
  packages/iceworks-client/src/pages/Project/components/GuidePanel/index.js
  packages/iceworks-client/src/pages/Project/components/OSSPanel/index.js
  packages/iceworks-client/src/pages/Project/components/QuickStart/index.js
  packages/iceworks-client/src/pages/Project/components/RouterPanel/index.js
  packages/iceworks-client/src/pages/Project/components/SettingPanel/index.js
Labels: iceworks 3.0

#2333 [iceworks] kill process pid
  packages/iceworks-server/package.json
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
Labels: iceworks 3.0

#2336 iceworks/cli
  tools/iceworks-cli/command/init.js
  tools/iceworks-cli/command/start.js
  tools/iceworks-cli/lib/goldlog.js
Labels: iceworks 3.0

#2319 Adapter 根据条件决定前端面板是否显示
  packages/iceworks-server/src/app/io/middleware/adapter.ts
  packages/iceworks-server/src/lib/adapter-react-v1/index.ts
  packages/iceworks-server/src/lib/adapter-react-v2/index.ts
  packages/iceworks-server/src/lib/adapter-react-v3/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/index.ts
  packages/iceworks-server/src/lib/adapter/index.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2339 [iceworks] 路由、导航交互以及 bug 修复
  packages/iceworks-client/src/components/TipIcon/index.module.scss
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/components/MenuPanel/CreateMenuModal.js
  packages/iceworks-client/src/pages/Project/components/MenuPanel/DeleteMenuModal.js
  packages/iceworks-client/src/pages/Project/components/MenuPanel/index.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/SavePageModal.js
  packages/iceworks-client/src/pages/Project/components/RouterPanel/CreateRouterModal.js
  packages/iceworks-client/src/pages/Project/components/RouterPanel/index.js
  packages/iceworks-server/src/lib/adapter/modules/router/index.ts
Labels: iceworks 3.0

#2331 fix: engineering configuration write failed
  packages/iceworks-client/src/pages/Engineering/components/Configuration/index.js
  packages/iceworks-client/src/pages/Engineering/components/Task/index.js
Labels: iceworks 3.0

#2341 fix: page panel bugs
  packages/iceworks-client/package.json
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/BuildPageModal.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/BuildPageModal.module.scss
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
  packages/iceworks-server/src/lib/adapter/modules/page/template.js.ejs
  packages/iceworks-server/src/lib/adapter/modules/page/template.jsx.ejs
Labels: iceworks 3.0

#2334 fix: fix git panel bug
  packages/iceworks-client/src/pages/Project/components/GitPanel/SwtichBranchModal.js
  packages/iceworks-client/src/pages/Project/components/GitPanel/index.js
  packages/iceworks-client/src/pages/Project/stores/git.js
  packages/iceworks-server/src/lib/adapter/modules/git/index.ts
Labels: iceworks 3.0

#2338 [iceworks] publish flow
  packages/iceworks-client/ice.config.js
  packages/iceworks-client/package.json
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/middleware/client.ts
Labels: iceworks 3.0

#2345 fix: fix write null file in node 8
  packages/ice-npm-utils/CHANGELOG.md
  packages/ice-npm-utils/lib/index.js
  packages/ice-npm-utils/package.json
Labels: bug

#2344 [iceworks] reload adapter support
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/pages/Project/index.module.scss
  packages/iceworks-client/src/stores/project.js
  packages/iceworks-server/src/app/io/controller/home/project.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2346 fix: do not need reloadAdapter when get project
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2347 Project panel bug fix
  packages/iceworks-client/src/components/Progress/index.js
  packages/iceworks-client/src/components/Progress/index.module.scss
  packages/iceworks-client/src/hooks/useDependency.js
  packages/iceworks-client/src/index.js
  packages/iceworks-client/src/pages/Project/components/DependencyPanel/index.js
  packages/iceworks-client/src/pages/Project/index.js
Labels: iceworks 3.0

#2351 fix: fix tarball download
  packages/iceworks-server/package.json
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
  packages/iceworks-server/src/lib/downloadAndExtractPackage.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2348 feature: refresh project panel when page is visible
  packages/iceworks-client/src/hooks/useProject.js
  packages/iceworks-client/src/hooks/useVisibilityChange.js
  packages/iceworks-client/src/pages/Project/index.js
Labels: iceworks 3.0

#2353 [iceworks] fix: adpater-react-v1 getConfCLI error
  packages/iceworks-client/src/pages/Engineering/index.js
Labels: iceworks 3.0

#2318 [iceworks] data statistics
  packages/iceworks-client/package.json
  packages/iceworks-client/src/components/GlobalBar/index.js
  packages/iceworks-client/src/hooks/useProject.js
  packages/iceworks-client/src/pages/Engineering/components/Task/index.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/index.js
  packages/iceworks-client/src/pages/Setting/components/General/index.js
  packages/iceworks-client/src/socket.js
  packages/iceworks-client/src/utils/goldlog.js
  packages/iceworks-server/src/app/controller/goldlog.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
  packages/iceworks-server/src/lib/storage.ts
Labels: iceworks 3.0

#2360 Fix: fix open editor bug
  packages/iceworks-client/src/components/GlobalBar/index.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/io/controller/home/system.ts
Labels: iceworks 3.0

#2362 feat: refresh adapter's locale when user reset locale
  packages/iceworks-server/src/app/io/controller/home/setting.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2358 fix: update file prefix _ to .
  packages/ice-npm-utils/lib/index.js
  packages/ice-npm-utils/package.json
Labels: bug, iceworks 3.0

#2366 feat: new materials
  packages/iceworks-server/src/lib/storage.ts
Labels: iceworks 3.0

#2365 chore: adjust style
  packages/iceworks-client/src/components/NavigationBar/index.module.scss
  packages/iceworks-client/src/pages/Material/index.js
Labels: iceworks 3.0

#2367 Iceworks/feat add not found and redirect
  packages/iceworks-client/src/components/Icon/index.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/index.js
  packages/iceworks-client/src/pages/Project/components/RouterPanel/CreateRouterModal.js
  packages/iceworks-client/src/pages/Project/components/RouterPanel/index.js
  packages/iceworks-client/src/pages/Project/stores/pages.js
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
  packages/iceworks-server/src/lib/adapter/modules/router/index.ts
Labels: iceworks 3.0

#2364 feat: format after generate project
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2349 [iceworks] add loading and error status to async actions
  packages/iceworks-client/package.json
  packages/iceworks-client/src/appConfig.js
  packages/iceworks-client/src/components/ActionStatus/index.js
  packages/iceworks-client/src/components/ActionStatus/index.module.scss
  packages/iceworks-client/src/components/ConnectModal/index.js
  packages/iceworks-client/src/components/GlobalBar/index.js
  packages/iceworks-client/src/components/Icon/index.js
  packages/iceworks-client/src/components/LoadingIndicator/index.js
  packages/iceworks-client/src/components/SelectWorkFolderModal/index.js
  packages/iceworks-client/src/components/UserLoginModal/index.js
  packages/iceworks-client/src/hooks/useDependency.js
  packages/iceworks-client/src/hooks/useLoadingTheme.js
  packages/iceworks-client/src/hooks/useMaterial.js
  packages/iceworks-client/src/hooks/useProject.js
  packages/iceworks-client/src/hooks/useTask.js
  packages/iceworks-client/src/layouts/MainLayout/index.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Engineering/components/Configuration/index.js
  packages/iceworks-client/src/pages/Engineering/components/Task/index.js
  packages/iceworks-client/src/pages/Material/index.js
  packages/iceworks-client/src/pages/Project/components/DEFPanel/index.js
  packages/iceworks-client/src/pages/Project/components/DependencyPanel/index.js
  packages/iceworks-client/src/pages/Project/components/GitPanel/index.js
  packages/iceworks-client/src/pages/Project/components/LayoutPanel/index.js
  packages/iceworks-client/src/pages/Project/components/MenuPanel/index.js
  packages/iceworks-client/src/pages/Project/components/OSSPanel/index.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/BuildPageModal.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/BuildPageModal.module.scss
  packages/iceworks-client/src/pages/Project/components/PagePanel/index.js
  packages/iceworks-client/src/pages/Project/components/Panel/index.js
  packages/iceworks-client/src/pages/Project/components/RouterPanel/CreateRouterModal.js
  packages/iceworks-client/src/pages/Project/components/RouterPanel/index.js
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/pages/Project/stores/pages.js
  packages/iceworks-client/src/pages/Project/stores/routes.js
  packages/iceworks-client/src/pages/Setting/components/General/index.js
  packages/iceworks-client/src/utils/showMessage.js
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
  packages/iceworks-server/src/lib/adapter/modules/router/index.ts
Labels: iceworks 3.0

#2177 [iceworks] feat stark biz template support
  packages/iceworks-client/src/components/CreateProjectModal/index.js
  packages/iceworks-client/src/hooks/useProject.js
  packages/iceworks-client/src/pages/Material/index.js
  packages/iceworks-server/scripts/install.js
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2363 [iceworks]: release 3.0-beta
  packages/iceworks-client/package.json
  packages/iceworks-server/package.json
  tools/iceworks-cli/package.json
Labels: iceworks 3.0

#2370 fix: use __dirname instead of process.cwd
  tools/iceworks-cli/command/start.js
  tools/iceworks-cli/package.json
Labels: iceworks 3.0

#2379 feat: dist iceworks-3.0 as electron app start kit
  tools/iceworks-app/README.md
  tools/iceworks-app/gulpfile.js
  tools/iceworks-app/main/index.js
  tools/iceworks-app/package.json
  tools/iceworks-app/renderer/error.html
  tools/iceworks-app/renderer/start_loading.html
  tools/iceworks-app/renderer/stop_loading.html
Labels: iceworks 3.0

#2383 [iceworks] update version and add CHANGELOG
  packages/iceworks-client/package.json
  packages/iceworks-server/package.json
  tools/iceworks-cli/CHANGELOG.md
Labels: iceworks 3.0

#2385 Iceworks/release 3.0.0 beta.1
  packages/iceworks-client/package.json
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Engineering/index.js
  packages/iceworks-client/src/pages/Engineering/index.module.scss
  packages/iceworks-client/src/pages/Project/components/QuickStart/index.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/io/controller/home/setting.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
  tools/iceworks-cli/CHANGELOG.md
  tools/iceworks-cli/package.json
Labels: iceworks 3.0

#2384 feat: builder config
  tools/iceworks-app/.buildrc
  tools/iceworks-app/.gitignore
  tools/iceworks-app/build/icons/mac/icon.icns
  tools/iceworks-app/build/icons/png/1024x1024.png
  tools/iceworks-app/build/icons/png/128x128.png
  tools/iceworks-app/build/icons/png/16x16.png
  tools/iceworks-app/build/icons/png/24x24.png
  tools/iceworks-app/build/icons/png/256x256.png
  tools/iceworks-app/build/icons/png/32x32.png
  tools/iceworks-app/build/icons/png/48x48.png
  tools/iceworks-app/build/icons/png/512x512.png
  tools/iceworks-app/build/icons/png/64x64.png
  tools/iceworks-app/build/icons/win/icon.ico
Labels: iceworks 3.0

#2393 feat: upgrade material
  packages/iceworks-server/src/lib/storage.ts
Labels: iceworks 3.0

#2395 feat: sort panel
  packages/iceworks-server/src/lib/adapter/index.ts
Labels: iceworks 3.0

#2396 style: fix panel style
  packages/iceworks-client/src/pages/Project/components/SettingPanel/index.module.scss
Labels: iceworks 3.0

#2397 fix: project refresh
  packages/iceworks-client/src/components/GlobalBar/index.js
  packages/iceworks-client/src/layouts/MainLayout/index.js
  packages/iceworks-client/src/utils/showMessage.js
Labels: iceworks 3.0

#2400 fix: project style && file name
  packages/iceworks-client/src/pages/Project/components/SubMenu/index.module.scss
  packages/iceworks-server/src/lib/scanDirectory.ts
Labels: iceworks 3.0

#2099 [ice-devtools] rework code
  tools/ice-devtools/bin/ice-devtools.js
  tools/ice-devtools/config/material.js
  tools/ice-devtools/lib/add.js
  tools/ice-devtools/lib/block/add.js
  tools/ice-devtools/lib/block/meta.js
  tools/ice-devtools/lib/component/add.js
  tools/ice-devtools/lib/component/meta.js
  tools/ice-devtools/lib/generate.js
  tools/ice-devtools/lib/init.js
  tools/ice-devtools/lib/material/add.js
  tools/ice-devtools/lib/material/init.js
  tools/ice-devtools/lib/scaffold/add.js
  tools/ice-devtools/lib/scaffold/meta.js
  tools/ice-devtools/lib/sync-unpkg.js
  tools/ice-devtools/package.json
  tools/ice-devtools/template/init/_env
  tools/ice-devtools/template/init/_package.json
  tools/ice-devtools/utils/ask.js
  tools/ice-devtools/utils/dep-analyze.js
  tools/ice-devtools/utils/download.js
  tools/ice-devtools/utils/filter.js
  tools/ice-devtools/utils/generate-marterials-database.js
  tools/ice-devtools/utils/git-user.js
  tools/ice-devtools/utils/i18n.js
  tools/ice-devtools/utils/local-path.js
  tools/ice-devtools/utils/logger.js
  tools/ice-devtools/utils/message.js
  tools/ice-devtools/utils/npm.js
  tools/ice-devtools/utils/options.js
  tools/ice-devtools/utils/pkg-json.js
  tools/ice-devtools/utils/template-render.js
  tools/ice-devtools/utils/template.js
  tools/ice-devtools/utils/transform.js
  tools/ice-devtools/utils/validate.js
Labels: ice-devtools

#2388 [iceworks] release-3.0.0-beta.2
  packages/iceworks-client/package.json
  packages/iceworks-client/src/components/GlobalBar/index.js
  packages/iceworks-client/src/layouts/MainLayout/index.js
  packages/iceworks-client/src/pages/Project/components/SettingPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/SubMenu/index.module.scss
  packages/iceworks-client/src/utils/showMessage.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/lib/adapter/index.ts
  packages/iceworks-server/src/lib/scanDirectory.ts
  packages/iceworks-server/src/lib/storage.ts
  tools/iceworks-cli/CHANGELOG.md
  tools/iceworks-cli/package.json
Labels: iceworks 3.0

#2406 feat: add dependency check
  packages/iceworks-server/src/lib/adapter/locales/en-US.json
  packages/iceworks-server/src/lib/adapter/locales/zh-CN.json
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
Labels: iceworks 3.0

#2401 [iceworks] release-3.0.0-beta.3
  packages/iceworks-client/package.json
  packages/iceworks-server/package.json
  packages/iceworks-server/src/lib/adapter/locales/en-US.json
  packages/iceworks-server/src/lib/adapter/locales/zh-CN.json
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
  tools/iceworks-cli/package.json
Labels: iceworks 3.0

#2343 Update material template
  templates/ice-angular-material-template/package.json
  templates/ice-angular-material-template/template/block/_package.json
  templates/ice-angular-material-template/template/scaffold/_package.json
  templates/ice-react-material-template/package.json
  templates/ice-react-material-template/template/block/_package.json
  templates/ice-react-material-template/template/component/_package.json
  templates/ice-react-material-template/template/scaffold/_package.json
  templates/ice-react-material-template/template/scaffold/screenshot.png
  templates/ice-vue-material-template/package.json
  templates/ice-vue-material-template/template/block/_package.json
  templates/ice-vue-material-template/template/scaffold/_package.json
Labels: ice-devtools

#2414 fix: spinner start
  tools/iceworks-cli/command/start.js
Labels: iceworks 3.0

#2412 feat: opens the URL in the default browser
  tools/iceworks-cli/command/start.js
  tools/iceworks-cli/package.json
Labels: iceworks 3.0

#2416 Iceworks: bug fix
  packages/iceworks-client/ice.config.js
  packages/iceworks-client/src/components/BlockCard/index.module.scss
  packages/iceworks-client/src/components/ComponentCard/index.module.scss
  packages/iceworks-client/src/components/MaterialCategories/index.module.scss
  packages/iceworks-client/src/components/ScaffoldCard/index.module.scss
  packages/iceworks-client/src/pages/Project/components/QuickStart/index.module.scss
  packages/iceworks-server/src/app/io/controller/home/setting.ts
Labels: iceworks 3.0

#2422 feat: electron building logic
  tools/iceworks-app/.buildrc
  tools/iceworks-app/.gitignore
  tools/iceworks-app/README.md
  tools/iceworks-app/app/error.html
  tools/iceworks-app/app/index.js
  tools/iceworks-app/app/start_loading.html
  tools/iceworks-app/app/stop_loading.html
  tools/iceworks-app/gulpfile.js
  tools/iceworks-app/package.json
  tools/iceworks-app/public/icons/mac/icon.icns
  tools/iceworks-app/public/icons/png/1024x1024.png
  tools/iceworks-app/public/icons/png/128x128.png
  tools/iceworks-app/public/icons/png/16x16.png
  tools/iceworks-app/public/icons/png/24x24.png
  tools/iceworks-app/public/icons/png/256x256.png
  tools/iceworks-app/public/icons/png/32x32.png
  tools/iceworks-app/public/icons/png/48x48.png
  tools/iceworks-app/public/icons/png/512x512.png
  tools/iceworks-app/public/icons/png/64x64.png
  tools/iceworks-app/public/icons/win/icon.ico
Labels: iceworks 3.0

#2405 docs: introduction for ice-scripts test
  docs/cli/about.md
  docs/cli/feature/cloud-build.md
  docs/cli/feature/test.md
  docs/cli/plugin-list/fusion.md
Labels: docs, ice-scripts

#2285 Refactor material docs (#2169)
  docs/materials/about.md
  docs/materials/angular.md
  docs/materials/custom-template.md
  docs/materials/get_start.md
  docs/materials/guide/dev.md
  docs/materials/guide/generate.md
  docs/materials/guide/init.md
  docs/materials/guide/sync.md
  docs/materials/guide/usage.md
  docs/materials/init-dev.md
  docs/materials/publish-use.md
  docs/materials/react.md
  docs/materials/recommand.md
  docs/materials/reference/command.md
  docs/materials/reference/dev.md
  docs/materials/reference/env.md
  docs/materials/reference/private.md
  docs/materials/reference/protocol.md
  docs/materials/schema.md
  docs/materials/template/angular.md
  docs/materials/template/custom.md
  docs/materials/template/react.md
  docs/materials/template/standard.md
  docs/materials/template/vue.md
  scripts/docConfig.js
Labels: docs, ice-devtools

#2437 [iceworks] use midway mirror package
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/controller/goldlog.ts
  packages/iceworks-server/src/app/controller/home.ts
  packages/iceworks-server/src/app/router.ts
Labels: iceworks 3.0

#2426 feat: lint for iceworks-server
  .eslintignore
  .eslintrc.js
  packages/iceworks-server/src/app.ts
  packages/iceworks-server/src/app/controller/goldlog.ts
  packages/iceworks-server/src/app/controller/home.ts
  packages/iceworks-server/src/app/io/controller/home/project.ts
  packages/iceworks-server/src/app/io/controller/home/setting.ts
  packages/iceworks-server/src/app/io/controller/home/system.ts
  packages/iceworks-server/src/app/io/controller/material/index.ts
  packages/iceworks-server/src/config/config.default.ts
  packages/iceworks-server/src/config/plugin.ts
  packages/iceworks-server/src/interface/dependency.ts
  packages/iceworks-server/src/interface/menu.ts
  packages/iceworks-server/src/interface/page.ts
  packages/iceworks-server/src/interface/router.ts
  packages/iceworks-server/src/lib/adapter-react-v1/index.ts
  packages/iceworks-server/src/lib/adapter-react-v1/modules/menu/index.ts
  packages/iceworks-server/src/lib/adapter-react-v1/modules/router/index.ts
  packages/iceworks-server/src/lib/adapter-react-v2/index.ts
  packages/iceworks-server/src/lib/adapter-react-v2/modules/menu/index.ts
  packages/iceworks-server/src/lib/adapter-react-v2/modules/router/index.ts
  packages/iceworks-server/src/lib/adapter-react-v3/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/modules/configuration/getConfigSchema.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/modules/configuration/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/modules/task/getTaskConfig.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/modules/task/index.ts
  packages/iceworks-server/src/lib/adapter/index.ts
  packages/iceworks-server/src/lib/adapter/modules/configuration/getConfigSchema.ts
  packages/iceworks-server/src/lib/adapter/modules/configuration/index.ts
  packages/iceworks-server/src/lib/adapter/modules/def/client.ts
  packages/iceworks-server/src/lib/adapter/modules/def/index.ts
  packages/iceworks-server/src/lib/adapter/modules/dependency/index.ts
  packages/iceworks-server/src/lib/adapter/modules/git/index.ts
  packages/iceworks-server/src/lib/adapter/modules/layout/index.ts
  packages/iceworks-server/src/lib/adapter/modules/menu/index.ts
  packages/iceworks-server/src/lib/adapter/modules/oss/index.ts
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
  packages/iceworks-server/src/lib/adapter/modules/router/index.ts
  packages/iceworks-server/src/lib/adapter/modules/task/getTaskConfig.ts
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
  packages/iceworks-server/src/lib/adapter/modules/todo/index.ts
  packages/iceworks-server/src/lib/adapter/utils/cliConf.ts
  packages/iceworks-server/src/lib/plugin/i18n/app.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
  packages/iceworks-server/src/lib/remoteLogger/index.ts
  packages/iceworks-server/src/lib/scanDirectory.ts
  packages/iceworks-server/src/lib/storage.ts
Labels: iceworks 3.0

#2425 feat: lint for iceworks-client && iceworks-cli
  .eslintignore
  packages/iceworks-client/src/components/ConnectModal/index.js
  packages/iceworks-client/src/components/CreateProjectModal/index.js
  packages/iceworks-client/src/components/GlobalBar/index.js
  packages/iceworks-client/src/components/Locale/index.js
  packages/iceworks-client/src/components/ScaffoldCard/index.js
  packages/iceworks-client/src/hooks/useDependency.js
  packages/iceworks-client/src/hooks/useProject.js
  packages/iceworks-client/src/hooks/useTask.js
  packages/iceworks-client/src/pages/Engineering/components/Task/index.js
  packages/iceworks-client/src/pages/Material/components/SubMenu/index.js
  packages/iceworks-client/src/pages/Material/index.js
  packages/iceworks-client/src/pages/Project/components/GitPanel/Main.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/BuildPageModal.js
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/stores/user.js
  packages/iceworks-client/src/utils/goldlog.js
  tools/iceworks-cli/bin/iceworks.js
Labels: iceworks 3.0

#2446 fix: copy app files to build
  tools/iceworks-app/gulpfile.js
Labels: iceworks 3.0

#2407 README 重写
  .github/CONTRIBUTING.md
  .github/GIT_COMMIT_SPECIFIC.md
  README.md
Labels: docs, iceworks 3.0

#2441 [iceworks] dynamic install for iceworks-server
  tools/iceworks-cli/bin/iceworks.js
  tools/iceworks-cli/command/start.js
  tools/iceworks-cli/lib/checkVersion.js
  tools/iceworks-cli/lib/downloadServer.js
  tools/iceworks-cli/package.json
Labels: iceworks 3.0

#2453 feat: loading && error UI
  tools/iceworks-app/app/error.html
  tools/iceworks-app/app/getEnv.js
  tools/iceworks-app/app/index.js
  tools/iceworks-app/app/loading.html
  tools/iceworks-app/app/start_loading.html
  tools/iceworks-app/app/stop_loading.html
Labels: iceworks 3.0

#2461 refactor: replace console with midway logger
  packages/iceworks-server/src/interface/base.ts
  packages/iceworks-server/src/interface/git.ts
  packages/iceworks-server/src/interface/router.ts
  packages/iceworks-server/src/lib/adapter/modules/dependency/index.ts
  packages/iceworks-server/src/lib/adapter/modules/git/index.ts
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
  packages/iceworks-server/src/lib/adapter/modules/router/index.ts
Labels: iceworks 3.0

#2450 fix: socket compatible with different system platforms
  packages/iceworks-client/src/socket.js
Labels: iceworks 3.0

#2464 fix: P2 bugs
  packages/iceworks-client/src/pages/Material/components/AddMaterialModal/index.module.scss
  packages/iceworks-client/src/pages/Project/components/DependencyPanel/CreateDependencyModal.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/BuildPageModal.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/SavePageModal.js
  packages/iceworks-server/src/lib/adapter/locales/en-US.json
  packages/iceworks-server/src/lib/adapter/locales/zh-CN.json
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2460 fix: copy and build
  tools/iceworks-app/app/index.js
  tools/iceworks-app/gulpfile.js
Labels: iceworks 3.0

#2466 feat: set env for server
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2448 feat: docs for project management
  docs/iceworks/project/dependency.md
  docs/iceworks/project/git.md
  docs/iceworks/project/layout.md
  docs/iceworks/project/oss.md
  docs/iceworks/project/page.md
  docs/iceworks/project/router.md
  docs/iceworks/project/todo.md
Labels: iceworks 3.0

#2467 feat: CHANGLOG for iceworks-3.0.0-beta.5
  CHANGELOG.md
  tools/iceworks-cli/package.json
Labels: iceworks 3.0

#2459 [iceworks] release-3.0.0-beta.5
  CHANGELOG.md
  packages/iceworks-client/package.json
  packages/iceworks-client/src/hooks/useTask.js
  packages/iceworks-client/src/pages/Material/components/AddMaterialModal/index.module.scss
  packages/iceworks-client/src/pages/Project/components/DependencyPanel/CreateDependencyModal.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/BuildPageModal.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/SavePageModal.js
  packages/iceworks-client/src/socket.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/interface/base.ts
  packages/iceworks-server/src/interface/git.ts
  packages/iceworks-server/src/interface/router.ts
  packages/iceworks-server/src/lib/adapter/locales/en-US.json
  packages/iceworks-server/src/lib/adapter/locales/zh-CN.json
  packages/iceworks-server/src/lib/adapter/modules/dependency/index.ts
  packages/iceworks-server/src/lib/adapter/modules/git/index.ts
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
  packages/iceworks-server/src/lib/adapter/modules/router/index.ts
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
  tools/iceworks-cli/package.json
Labels: iceworks 3.0

#2469 feat: support npm client select
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Setting/components/General/index.js
  packages/iceworks-server/src/app/io/controller/home/setting.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/lib/adapter/modules/dependency/index.ts
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
  packages/iceworks-server/src/lib/storage.ts
Labels: iceworks 3.0

#2452 [iceworks] process log optimization
  packages/iceworks-server/src/lib/adapter/modules/dependency/index.ts
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
  packages/iceworks-server/src/lib/adapter/modules/task/ipc.ts
Labels: iceworks 3.0

#2473 fix: get npm client from storage
  packages/iceworks-server/src/app/io/controller/home/setting.ts
  packages/iceworks-server/src/lib/adapter/modules/dependency/index.ts
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
  packages/iceworks-server/src/lib/getNpmClient.ts
Labels: iceworks 3.0

#2479 feat: add log
  packages/iceworks-server/src/app/router.ts
Labels: iceworks 3.0

#2421 feat: dependency check before starting a task
  packages/iceworks-client/src/hooks/useDependency.js
  packages/iceworks-client/src/hooks/useTask.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Engineering/components/Task/index.js
  packages/iceworks-client/src/pages/Project/components/QuickBuildPanel/index.js
  packages/iceworks-client/src/pages/Project/components/QuickDevPanel/index.js
  packages/iceworks-client/src/pages/Project/components/TaskItem/index.js
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/stores/task.js
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
Labels: iceworks 3.0

#2392 [iceworks] adapter-vue-v2
  packages/iceworks-client/src/hooks/useTask.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Engineering/components/Task/index.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/BuildPageModal.js
  packages/iceworks-client/src/utils/termManager.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/lib/adapter-vue-v2/README.md
  packages/iceworks-server/src/lib/adapter-vue-v2/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v2/modules/configuration/getConfigSchema.ts
  packages/iceworks-server/src/lib/adapter-vue-v2/modules/configuration/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v2/modules/task/getTaskConfig.ts
  packages/iceworks-server/src/lib/adapter-vue-v2/modules/task/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v2/package.json
  packages/iceworks-server/src/lib/adapter/locales/en-US.json
  packages/iceworks-server/src/lib/adapter/locales/zh-CN.json
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
  packages/iceworks-server/src/lib/storage.ts
Labels: iceworks 3.0

#2468 [iceworks] release-3.0.0-beta.6
  CHANGELOG.md
  packages/iceworks-client/package.json
  packages/iceworks-client/src/components/XtermTerminal/index.js
  packages/iceworks-client/src/components/XtermTerminal/index.module.scss
  packages/iceworks-client/src/hooks/useDependency.js
  packages/iceworks-client/src/hooks/useTask.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Engineering/components/Task/index.js
  packages/iceworks-client/src/pages/Engineering/components/Task/index.module.scss
  packages/iceworks-client/src/pages/Engineering/index.module.scss
  packages/iceworks-client/src/pages/Project/components/PagePanel/BuildPageModal.js
  packages/iceworks-client/src/pages/Project/components/QuickBuildPanel/index.js
  packages/iceworks-client/src/pages/Project/components/QuickDevPanel/index.js
  packages/iceworks-client/src/pages/Project/components/TaskItem/index.js
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/pages/Setting/components/General/index.js
  packages/iceworks-client/src/stores/task.js
  packages/iceworks-client/src/utils/termManager.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/io/controller/home/setting.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/lib/adapter-vue-v2/README.md
  packages/iceworks-server/src/lib/adapter-vue-v2/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v2/modules/configuration/getConfigSchema.ts
  packages/iceworks-server/src/lib/adapter-vue-v2/modules/configuration/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v2/modules/task/getTaskConfig.ts
  packages/iceworks-server/src/lib/adapter-vue-v2/modules/task/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v2/package.json
  packages/iceworks-server/src/lib/adapter/locales/en-US.json
  packages/iceworks-server/src/lib/adapter/locales/zh-CN.json
  packages/iceworks-server/src/lib/adapter/modules/dependency/index.ts
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
  packages/iceworks-server/src/lib/adapter/modules/task/ipc.ts
  packages/iceworks-server/src/lib/getNpmClient.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
  packages/iceworks-server/src/lib/storage.ts
  tools/iceworks-cli/package.json
Labels: iceworks 3.0

#2488 [iceworks] fixed node environment variable
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2489 fix: update theme text
  packages/iceworks-client/src/components/GlobalBar/index.js
Labels: iceworks 3.0

#2486 refactor: disable getNpmOutdated
  packages/iceworks-client/src/hooks/useTask.js
  packages/iceworks-server/src/interface/dependency.ts
  packages/iceworks-server/src/lib/adapter/modules/dependency/index.ts
Labels: iceworks 3.0

#2484 [iceworks] release-3.0.0-beta.7
  CHANGELOG.md
  packages/iceworks-client/package.json
  packages/iceworks-client/src/components/GlobalBar/index.js
  packages/iceworks-client/src/hooks/useTask.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/interface/dependency.ts
  packages/iceworks-server/src/lib/adapter/modules/dependency/index.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2495 fix: redirect to task page when run task
  packages/iceworks-client/src/pages/Project/components/TaskItem/index.js
  packages/iceworks-server/src/lib/adapter/locales/en-US.json
Labels: iceworks 3.0

#2498 refactor: use shell path for env
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/io/controller/home/project.ts
  packages/iceworks-server/src/app/io/controller/home/setting.ts
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2506 chore: use ice-npm-utils in iceworks-cli
  CHANGELOG.md
  packages/iceworks-server/src/app/io/controller/material/index.ts
  packages/iceworks-server/src/lib/storage.ts
  tools/iceworks-cli/CHANGELOG.md
  tools/iceworks-cli/lib/downloadNpm.js
  tools/iceworks-cli/lib/downloadServer.js
  tools/iceworks-cli/lib/getTarball.js
  tools/iceworks-cli/lib/npmRequest.js
  tools/iceworks-cli/package.json
Labels: iceworks 3.0

#2500 [Iceworks]feat: add material page loading
  packages/iceworks-client/src/pages/Material/components/MaterialPanel/index.js
  packages/iceworks-client/src/pages/Material/components/MaterialPanel/index.module.scss
  packages/iceworks-client/src/pages/Material/index.js
Labels: iceworks 3.0

#2490 iceworks/log
  packages/iceworks-server/src/config/config.prod.ts
  tools/iceworks-cli/bin/iceworks.js
  tools/iceworks-cli/command/start.js
  tools/iceworks-cli/lib/checkVersion.js
Labels: iceworks 3.0

#2501 [iceworks 3.0] Fix typo in QuickBuildPanel
  packages/iceworks-client/src/pages/Project/components/QuickBuildPanel/index.js
Labels: iceworks 3.0

#2508 feat: iceworks electron
  tools/iceworks-app/app/error.css
  tools/iceworks-app/app/error.html
  tools/iceworks-app/app/error.js
  tools/iceworks-app/app/index.js
Labels: iceworks 3.0

#2499 fix: format dependency log
  packages/iceworks-client/src/hooks/useDependency.js
  packages/iceworks-client/src/utils/writeGlobalLog.js
  packages/iceworks-server/src/lib/adapter/modules/dependency/index.ts
Labels: iceworks 3.0

#2509 fix: write chunk
  packages/iceworks-client/src/hooks/useDependency.js
  packages/iceworks-client/src/hooks/useTask.js
Labels: iceworks 3.0

#2494 feat: support customize registry
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Setting/components/General/index.js
  packages/iceworks-client/src/pages/Setting/components/General/index.module.scss
  packages/iceworks-server/src/app/io/controller/home/setting.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/lib/adapter/modules/dependency/index.ts
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
  packages/iceworks-server/src/lib/getNpmClient.ts
  packages/iceworks-server/src/lib/getTarballURLByMaterielSource.ts
  packages/iceworks-server/src/lib/storage.ts
Labels: iceworks 3.0

#2515 Iceworks/fix install dependency
  packages/iceworks-client/src/hooks/useTask.js
Labels: iceworks 3.0

#2519 feat: specify worker count
  packages/iceworks-server/package.json
Labels: iceworks 3.0

#2520 fix: set work folder
  packages/iceworks-client/src/components/SelectWorkFolderModal/index.js
  packages/iceworks-server/src/app/io/controller/home/setting.ts
  packages/iceworks-server/src/lib/scanDirectory.ts
  packages/iceworks-server/src/locales/en-US.json
  packages/iceworks-server/src/locales/zh-CN.json
Labels: iceworks 3.0

#2524 [iceworks] fix material-panel-styles
  packages/iceworks-client/src/pages/Material/components/MaterialPanel/index.js
  packages/iceworks-client/src/pages/Material/components/MaterialPanel/index.module.scss
Labels: iceworks 3.0

#2527 feat: upgrade iceworks-server
  tools/iceworks-app/app/index.js
  tools/iceworks-app/package.json
Labels: iceworks 3.0

#2530 auto updater for electron
  tools/iceworks-app/app/autoUpdate.js
  tools/iceworks-app/app/error.html
  tools/iceworks-app/app/error.js
  tools/iceworks-app/app/getURL.js
  tools/iceworks-app/app/index.js
  tools/iceworks-app/app/loading.html
  tools/iceworks-app/gulpfile.js
  tools/iceworks-app/package.json
  tools/iceworks-app/renderer/.editorconfig
  tools/iceworks-app/renderer/.eslintignore
  tools/iceworks-app/renderer/.gitignore
  tools/iceworks-app/renderer/README.md
  tools/iceworks-app/renderer/ice.config.js
  tools/iceworks-app/renderer/package.json
  tools/iceworks-app/renderer/public/favicon.png
  tools/iceworks-app/renderer/public/index.html
  tools/iceworks-app/renderer/src/global.scss
  tools/iceworks-app/renderer/src/pages/Error/index.jsx
  tools/iceworks-app/renderer/src/pages/Error/index.scss
  tools/iceworks-app/renderer/src/pages/Loading/index.jsx
  tools/iceworks-app/renderer/src/pages/Loading/index.scss
  tools/iceworks-app/renderer/src/pages/Updater/index.jsx
  tools/iceworks-app/renderer/src/pages/Updater/index.scss
  tools/iceworks-app/renderer/src/utils/isInElectron.js
Labels: iceworks 3.0

#2535 feature: display logs at startup
  tools/iceworks-app/app/index.js
  tools/iceworks-app/renderer/src/pages/Error/index.jsx
  tools/iceworks-app/renderer/src/pages/Loading/index.jsx
  tools/iceworks-app/renderer/src/pages/Loading/index.scss
  tools/iceworks-app/renderer/src/pages/Updater/index.jsx
Labels: iceworks 3.0

#2536 refactor: disable upgrade to 3.0
  tools/iceworks/app/main/autoUpdater.js
Labels: iceworks 2.0

#2540 feature: publishing logic
  tools/iceworks-app/README.md
  tools/iceworks-app/README.zh-CN.md
  tools/iceworks-app/changelog/3.0.0.json
  tools/iceworks-app/changelog/changelog.json
  tools/iceworks-app/gulpfile.js
  tools/iceworks-app/package.json
Labels: iceworks 3.0

#2387 Kit 3.0 文档优化
  docs/guide/dev/ajax.md
  docs/guide/dev/authority.md
  docs/guide/dev/build.md
  docs/guide/dev/directory-structure.md
  docs/guide/dev/dynamic-load.md
  docs/guide/dev/form.md
  docs/guide/dev/i18n.md
  docs/guide/dev/nav.md
  docs/guide/dev/react-materials.md
  docs/guide/dev/router.md
  docs/guide/dev/store.md
  docs/guide/dev/style.md
  docs/guide/dev/theme.md
  docs/guide/resource/front-basic.md
Labels: docs, icekit

#2537 feature: A reminder to upgrade to 3
  tools/iceworks/renderer/src/Layout/Layout.jsx
  tools/iceworks/renderer/src/Layout/Layout.scss
Labels: iceworks 2.0

#2544 refactor: using different publish url
  tools/iceworks-app/gulpfile.js
  tools/iceworks-app/package.json
Labels: iceworks 3.0

#2532 Iceworks/remove unused scripts
  packages/iceworks-server/package.json
Labels: iceworks 3.0

#2546 refactor: delete unnecessary file generation and upload logic
  tools/iceworks-app/README.zh-CN.md
  tools/iceworks-app/gulpfile.js
  tools/iceworks-app/package.json
Labels: iceworks 3.0

#2547 refactor: Code style and function naming
  tools/iceworks-app/README.zh-CN.md
  tools/iceworks-app/app/autoUpdate.js
  tools/iceworks-app/app/getURL.js
  tools/iceworks-app/app/index.js
  tools/iceworks-app/changelog/changelog.json
  tools/iceworks-app/gulpfile.js
  tools/iceworks-app/package.json
  tools/iceworks-app/renderer/.editorconfig
  tools/iceworks-app/renderer/.eslintignore
  tools/iceworks-app/renderer/README.md
  tools/iceworks-app/renderer/package.json
  tools/iceworks-app/renderer/public/favicon.png
  tools/iceworks-app/renderer/public/index.html
  tools/iceworks-app/renderer/src/pages/Loading/index.jsx
  tools/iceworks-app/renderer/src/pages/Updater/index.jsx
Labels: iceworks 3.0

#2390 Iceworks/3.0 docs
  docs/iceworks-2.x/about.md
  docs/iceworks-2.x/engineering.md
  docs/iceworks-2.x/material.md
  docs/iceworks-2.x/new-page.md
  docs/iceworks-2.x/new-project.md
  docs/iceworks-2.x/project.md
  docs/iceworks-2.x/settings.md
  docs/iceworks/about.md
  docs/iceworks/advanced/adapter-about.md
  docs/iceworks/advanced/adapter-guide.md
  docs/iceworks/contributing/architecture-design.md
  docs/iceworks/contributing/codebase-overview.md
  docs/iceworks/contributing/how-to-contribute.md
  docs/iceworks/contributing/implementation-notes.md
  docs/iceworks/contributing/release-notes.md
  docs/iceworks/engineering/configuration.md
  docs/iceworks/engineering/intro.md
  docs/iceworks/engineering/task.md
  docs/iceworks/material/about.md
  docs/iceworks/migrate.md
  docs/iceworks/project/dependency.md
  docs/iceworks/project/git.md
  docs/iceworks/project/menu.md
  docs/iceworks/project/oss.md
  docs/iceworks/project/other.md
  docs/iceworks/project/page.md
  docs/iceworks/project/router.md
  docs/iceworks/quick-start.md
  scripts/docConfig.js
Labels: iceworks 3.0

#2528 feat: dau statistics
  tools/iceworks-cli/command/start.js
  tools/iceworks-cli/package.json
Labels: iceworks 3.0

#2529 [iceworks] release-2.23.0
  tools/iceworks/app/main/autoUpdater.js
  tools/iceworks/app/package.json
  tools/iceworks/renderer/src/Layout/Layout.jsx
  tools/iceworks/renderer/src/Layout/Layout.scss
Labels: iceworks 2.0

#2523 [iceworks] release-3.0.0-beta.10
  CHANGELOG.md
  packages/iceworks-client/package.json
  packages/iceworks-client/src/pages/Material/components/MaterialPanel/index.js
  packages/iceworks-client/src/pages/Material/components/MaterialPanel/index.module.scss
  packages/iceworks-server/package.json
  tools/iceworks-cli/CHANGELOG.md
  tools/iceworks-cli/command/start.js
  tools/iceworks-cli/package.json
Labels: iceworks 3.0

#2534 fix: add npm dep
  tools/iceworks-app/bin-darwin/npm
  tools/iceworks-app/package.json
Labels: iceworks 3.0

#2557 feat: npm for electron
  tools/iceworks-app/bin-darwin/npm
  tools/iceworks-app/bin-win32/npm
  tools/iceworks-app/bin-win32/npm.cmd
Labels: iceworks 3.0

#2559 fix: router sort logic
  packages/iceworks-server/src/lib/adapter/modules/router/index.ts
Labels: iceworks 3.0

#2563 Upgrade logic and more menus
  tools/iceworks-app/app/autoUpdate.js
  tools/iceworks-app/app/index.js
  tools/iceworks-app/renderer/src/pages/About/index.jsx
  tools/iceworks-app/renderer/src/pages/About/index.scss
  tools/iceworks-app/renderer/src/pages/Updater/index.jsx
  tools/iceworks-app/renderer/src/pages/Updater/index.scss
Labels: iceworks 3.0

#2562 docs: requirement for custom webpack
  docs/cli/config/custom-webpack.md
Labels: docs

#2564 fix: use intl formatMessage api
  packages/iceworks-client/src/pages/Project/components/PagePanel/BuildPageModal.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/SavePageModal.js
Labels: iceworks 3.0

#2565 fix: unnecessary logs
  packages/iceworks-server/src/lib/adapter/modules/dependency/index.ts
  packages/iceworks-server/src/lib/remoteLogger/index.ts
Labels: iceworks 3.0

#2558 fix: show recommend scaffold
  packages/iceworks-client/src/pages/Project/components/QuickStart/index.module.scss
  packages/iceworks-server/src/app/io/controller/material/index.ts
Labels: iceworks 3.0

#2552 [iceworks] release-3.0.1
  CHANGELOG.md
  packages/iceworks-client/package.json
  packages/iceworks-client/src/pages/Project/components/PagePanel/BuildPageModal.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/SavePageModal.js
  packages/iceworks-client/src/pages/Project/components/QuickStart/index.module.scss
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/io/controller/material/index.ts
  packages/iceworks-server/src/lib/adapter/modules/dependency/index.ts
  packages/iceworks-server/src/lib/adapter/modules/router/index.ts
  packages/iceworks-server/src/lib/remoteLogger/index.ts
Labels: iceworks 3.0

#2399 [iceworks] adapter-cra-v1
  packages/iceworks-client/package.json
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-server/src/app/io/controller/material/index.ts
  packages/iceworks-server/src/lib/adapter-cra-v1/README.md
  packages/iceworks-server/src/lib/adapter-cra-v1/index.ts
  packages/iceworks-server/src/lib/adapter-cra-v1/modules/router/index.ts
  packages/iceworks-server/src/lib/adapter-cra-v1/package.json
  packages/iceworks-server/src/lib/adapter/modules/router/index.ts
  packages/iceworks-server/src/lib/adapter/utils/cliConf.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
  packages/iceworks-server/src/lib/storage.ts
Labels: iceworks 3.0

#2571 fix: copy ejs file to dist
  packages/iceworks-server/package.json
Labels: iceworks 3.0

#2576 fix: move dir across device
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
Labels: iceworks 3.0

#2578 Improve some translation
  packages/iceworks-client/src/components/User/index.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-server/src/lib/storage.ts
Labels: iceworks 3.0

#2573 fix: not throw an exception
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2531 chore: catch error
  tools/iceworks-cli/command/start.js
  tools/iceworks-cli/lib/goldlog.js
Labels: iceworks 3.0
