Repository alibaba/ice, pull requests merged in 2019-06, with the labels that each got.

#2064 [ice-devtools]refactor: 💡 optimize idev init
  .gitignore
  templates/ice-angular-material-template/template/component/README.md
  templates/ice-vue-material-template/template/component/README.md
  tools/ice-devtools/bin/ice-devtools.js
  tools/ice-devtools/lib/add.js
  tools/ice-devtools/lib/block/add.js
  tools/ice-devtools/lib/component/add.js
  tools/ice-devtools/lib/init.js
  tools/ice-devtools/lib/material/add.js
  tools/ice-devtools/lib/scaffold/add.js
  tools/ice-devtools/package.json
  tools/ice-devtools/utils/boxen-log.js
  tools/ice-devtools/utils/npm.js
Labels: ice-devtools

#2080 [ice-devtools]optimize check empty
  tools/ice-devtools/lib/init.js
  tools/ice-devtools/utils/check-empty.js
Labels: ice-devtools

#2085 fix: fix react material template typo error
  templates/ice-react-material-template/template/scaffold/ice.config.js
Labels: react-material

#2090 fix: no reset the template version
  tools/iceworks/app/main/template/createProject.js
Labels: iceworks

#2098 fix: sets body to JSON representation of value
  tools/iceworks/app/main/glodlog.js
Labels: iceworks

#2082 feat: create project and dependency by Material
  packages/iceworks-client/src/components/CreateProjectModal/index.js
  packages/iceworks-client/src/components/CreateProjectModal/index.module.scss
  packages/iceworks-client/src/hooks/useDependency.js
  packages/iceworks-client/src/hooks/useProject.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Material/components/InstallModal/index.js
  packages/iceworks-client/src/pages/Material/components/InstallModal/index.module.scss
  packages/iceworks-client/src/pages/Material/index.js
  packages/iceworks-client/src/pages/Project/components/DependencyPanel/CreateDependencyModal.js
  packages/iceworks-client/src/pages/Project/components/DependencyPanel/index.js
  packages/iceworks-client/src/pages/Project/components/Guide/index.js
  packages/iceworks-client/src/pages/Project/components/Guide/index.module.scss
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/pages/Project/stores/index.js
  packages/iceworks-client/src/stores/dependencies.js
  packages/iceworks-client/src/stores/index.js
  packages/iceworks-client/src/stores/material.js
  packages/iceworks-server/src/app/io/controller/material/index.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/lib/adapter/dependency/index.ts
  packages/iceworks-server/src/lib/storage.ts
Labels: iceworks 3.0

#2092 [iceworks]feat: global bar
  packages/iceworks-client/src/components/GlobalBar/index.js
  packages/iceworks-client/src/components/GlobalBar/index.module.scss
  packages/iceworks-client/src/components/Icon/index.js
  packages/iceworks-client/src/layouts/MainLayout/index.js
  packages/iceworks-client/src/menuConfig.js
  packages/iceworks-client/src/stores/project.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/io/controller/project/index.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/lib/storage.ts
Labels: iceworks 3.0

#2095 fix: 版本自动更新问题
  tools/iceworks/gulpfile.js
Labels: iceworks

#2056 [iceworks]feat ice script config support
  packages/iceworks-client/.eslintrc
  packages/iceworks-client/src/components/DynamicForm/index.js
  packages/iceworks-client/src/components/TaskBar/index.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Configuration/index.js
  packages/iceworks-client/src/pages/Configuration/stores/configuration.js
  packages/iceworks-client/src/pages/Task/components/TaskModal/index.js
  packages/iceworks-client/src/pages/Task/index.js
  packages/iceworks-client/src/pages/Task/stores/task.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/io/controller/project/configuration.ts
  packages/iceworks-server/src/app/io/controller/project/task.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/interface/base.ts
  packages/iceworks-server/src/interface/configuration.ts
  packages/iceworks-server/src/interface/task.ts
  packages/iceworks-server/src/lib/adapter/configuration/const.ts
  packages/iceworks-server/src/lib/adapter/configuration/index.ts
  packages/iceworks-server/src/lib/adapter/task/const.ts
  packages/iceworks-server/src/lib/adapter/task/index.ts
  packages/iceworks-server/src/lib/adapter/utils/cliConf.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2104 feat: set and get work folder
  packages/iceworks-client/src/components/CreateProjectModal/index.js
  packages/iceworks-client/src/components/CreateProjectModal/index.module.scss
  packages/iceworks-client/src/components/GlobalBar/index.js
  packages/iceworks-client/src/components/SelectWorkFolderModal/index.js
  packages/iceworks-client/src/components/SelectWorkFolderModal/index.module.scss
  packages/iceworks-client/src/pages/Project/components/OpenProjectModal/index.js
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/stores/project.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/io/controller/home/setting.ts
  packages/iceworks-server/src/app/io/controller/home/system.ts
  packages/iceworks-server/src/app/io/controller/project/index.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/lib/adapter/layout/index.ts
  packages/iceworks-server/src/lib/adapter/page/index.ts
  packages/iceworks-server/src/lib/adapter/scanDirectory.ts
  packages/iceworks-server/src/lib/scanDirectory.ts
  packages/iceworks-server/src/lib/storage.ts
Labels: iceworks 3.0

#2110 fix: lost dependency
  packages/iceworks-server/package.json
Labels: iceworks 3.0

#1995 iceworks/release-2.21.0
  tools/iceworks/app/main/glodlog.js
  tools/iceworks/app/main/services/worker/generate-project.js
  tools/iceworks/app/main/template/createProject.js
  tools/iceworks/app/package.json
  tools/iceworks/changelog/2.21.0.json
  tools/iceworks/changelog/changelog.json
  tools/iceworks/gulpfile.js
  tools/iceworks/renderer/src/stores/extensions.js
Labels: iceworks, release pr

#2133 chore: modify update message
  tools/ice-scripts/lib/utils/checkUpdater.js
Labels: ice-scripts

#2113 [iceworks] material setting
  packages/iceworks-client/src/hooks/useMaterial.js
  packages/iceworks-client/src/hooks/useModal.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Material/components/AddMaterialModal/index.js
  packages/iceworks-client/src/pages/Material/components/AddMaterialModal/index.module.scss
  packages/iceworks-client/src/pages/Material/components/SubMenu/SubMenuItem.js
  packages/iceworks-client/src/pages/Material/components/SubMenu/index.js
  packages/iceworks-client/src/pages/Material/components/SubMenu/index.module.scss
  packages/iceworks-client/src/pages/Material/index.js
  packages/iceworks-client/src/stores/material.js
  packages/iceworks-server/src/app/io/controller/material/index.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/lib/storage.ts
Labels: iceworks 3.0

#2134 feat: config hash support string
  tools/ice-scripts/lib/plugins/userConfig/configs/hash.js
Labels: ice-scripts

#2125 [ice-scripts] fix console error
  tools/ice-scripts/bin/ice-scripts-build.js
  tools/ice-scripts/bin/ice-scripts-dev.js
  tools/ice-scripts/lib/commands/build.js
  tools/ice-scripts/lib/config/postcssConfig.js
  tools/ice-scripts/lib/core/Context.js
Labels: ice-scripts

#2102 release: ice-scripts/release-1.10.2
  tools/ice-scripts/CHANGELOG.md
  tools/ice-scripts/bin/ice-add.js
  tools/ice-scripts/bin/ice-build.js
  tools/ice-scripts/bin/ice-dev.js
  tools/ice-scripts/bin/ice-init.js
  tools/ice-scripts/bin/ice.js
  tools/ice-scripts/lib/build.js
  tools/ice-scripts/lib/dev.js
  tools/ice-scripts/lib/utils/checkUpdater.js
  tools/ice-scripts/package.json
Labels: ice-scripts, release pr

#2148 feat: support themePackages for change theme colors
  packages/ice-plugin-fusion/lib/getThemeCode.js
  packages/ice-plugin-fusion/lib/getThemeVars.js
  packages/ice-plugin-fusion/lib/index.js
  packages/ice-plugin-fusion/package.json
Labels: ice-scripts

#2153 fix: log warning when css variables of theme is undefined
  packages/ice-plugin-fusion/lib/getThemeCode.js
  packages/ice-plugin-fusion/package.json
Labels: ice-scripts

#2156 chore: dev collect
  tools/ice-scripts/lib/commands/dev.js
Labels: ice-scripts

#2121 feat: plugin for watch user config
  tools/ice-scripts/bin/child-process-dev.js
  tools/ice-scripts/bin/ice-scripts-dev.js
  tools/ice-scripts/lib/commands/dev.js
  tools/ice-scripts/lib/core/Context.js
  tools/ice-scripts/lib/plugins/devWatcher/index.js
  tools/ice-scripts/package.json
Labels: ice-scripts

#2147 fix: load icons.scss of theme package
  packages/ice-plugin-fusion/lib/index.js
  packages/ice-plugin-fusion/lib/webpackPlugins/appendStyleWebpackPlugin.js
  packages/ice-plugin-fusion/lib/webpackPlugins/checkIceComponentsDepPlugin/bizComponentsVersion.js
  packages/ice-plugin-fusion/lib/webpackPlugins/checkIceComponentsDepPlugin/deprecatedComponents.js
  packages/ice-plugin-fusion/lib/webpackPlugins/checkIceComponentsDepPlugin/index.js
  packages/ice-plugin-fusion/package.json
Labels: ice-scripts

#2158 [ice-scripts] docs
  docs/cli-1.x/advanced/cloud-build.md
  docs/cli/config/config-file.md
  docs/cli/config/config.md
  docs/cli/feature/cloud-build.md
  docs/cli/migrate.md
  docs/guide/publish/assets.md
Labels: ice-scripts

#2151 feature: OSS Panel
  packages/iceworks-client/src/pages/Project/components/OSSPanel/dataSource.js
  packages/iceworks-client/src/pages/Project/components/OSSPanel/index.js
  packages/iceworks-client/src/pages/Project/components/OSSPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/pages/Project/stores/index.js
  packages/iceworks-client/src/pages/Project/stores/oss.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/io/controller/project/oss.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/interface/index.ts
  packages/iceworks-server/src/interface/oss.ts
  packages/iceworks-server/src/lib/adapter/index.ts
  packages/iceworks-server/src/lib/adapter/oss/index.ts
  packages/iceworks-server/src/lib/storage.ts
Labels: iceworks 3.0

#2136 feature: 发布链路
  packages/iceworks-client/public/index.html
  packages/iceworks-client/src/components/NavigationBar/index.js
  packages/iceworks-client/src/components/NavigationBar/index.module.scss
  packages/iceworks-client/src/components/User/index.js
  packages/iceworks-client/src/components/User/index.module.scss
  packages/iceworks-client/src/components/UserLoginModal/index.js
  packages/iceworks-client/src/components/UserLoginModal/index.module.scss
  packages/iceworks-client/src/hooks/useProject.js
  packages/iceworks-client/src/layouts/MainLayout/index.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/components/DEFPanel/index.js
  packages/iceworks-client/src/pages/Project/components/DEFPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/DependencyPanel/index.js
  packages/iceworks-client/src/pages/Project/components/GitPanel/CreateBranchModal.js
  packages/iceworks-client/src/pages/Project/components/GitPanel/CreateBranchModal.module.scss
  packages/iceworks-client/src/pages/Project/components/GitPanel/GitRemote.js
  packages/iceworks-client/src/pages/Project/components/GitPanel/Main.js
  packages/iceworks-client/src/pages/Project/components/GitPanel/Main.module.scss
  packages/iceworks-client/src/pages/Project/components/GitPanel/SwtichBranchModal.js
  packages/iceworks-client/src/pages/Project/components/GitPanel/SwtichBranchModal.module.scss
  packages/iceworks-client/src/pages/Project/components/GitPanel/index.js
  packages/iceworks-client/src/pages/Project/components/GitPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/OSSPanel/dataSource.js
  packages/iceworks-client/src/pages/Project/components/OSSPanel/index.js
  packages/iceworks-client/src/pages/Project/components/OSSPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/PagePanel/index.js
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/pages/Project/stores/git.js
  packages/iceworks-client/src/pages/Project/stores/index.js
  packages/iceworks-client/src/pages/Project/stores/oss.js
  packages/iceworks-client/src/stores/index.js
  packages/iceworks-client/src/stores/user.js
  packages/iceworks-server/package.json
  packages/iceworks-server/scripts/install.js
  packages/iceworks-server/src/app/io/controller/home/setting.ts
  packages/iceworks-server/src/app/io/controller/project/def.ts
  packages/iceworks-server/src/app/io/controller/project/git.ts
  packages/iceworks-server/src/app/io/controller/project/oss.ts
  packages/iceworks-server/src/app/middleware/client.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/app/view/index.html
  packages/iceworks-server/src/interface/def.ts
  packages/iceworks-server/src/interface/git.ts
  packages/iceworks-server/src/interface/index.ts
  packages/iceworks-server/src/interface/oss.ts
  packages/iceworks-server/src/lib/adapter/def/client.ts
  packages/iceworks-server/src/lib/adapter/def/index.ts
  packages/iceworks-server/src/lib/adapter/git/index.ts
  packages/iceworks-server/src/lib/adapter/index.ts
  packages/iceworks-server/src/lib/adapter/oss/index.ts
  packages/iceworks-server/src/lib/storage.ts
Labels: iceworks 3.0

#2180 fix: add process argv for child process
  tools/ice-scripts/CHANGELOG.md
  tools/ice-scripts/bin/ice-scripts-dev.js
  tools/ice-scripts/package.json
Labels: ice-scripts

#2172 Iceworks/storage
  packages/iceworks-server/src/app/io/controller/material/index.ts
  packages/iceworks-server/src/lib/storage.ts
Labels: iceworks 3.0

#2173 feat: add router and navigation when create page
  packages/iceworks-client/src/components/MenuTreeConfig/index.js
  packages/iceworks-client/src/components/MenuTreeConfig/index.module.scss
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/components/MenuPanel/CreateMenuModal.js
  packages/iceworks-client/src/pages/Project/components/MenuPanel/CreateMenuModal.module.scss
  packages/iceworks-client/src/pages/Project/components/MenuPanel/DeleteMenuModal.js
  packages/iceworks-client/src/pages/Project/components/MenuPanel/DeleteMenuModal.module.scss
  packages/iceworks-client/src/pages/Project/components/MenuPanel/index.js
  packages/iceworks-client/src/pages/Project/components/MenuPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/PagePanel/SavePageModal.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/SavePageModal.module.scss
  packages/iceworks-client/src/pages/Project/components/PagePanel/index.js
  packages/iceworks-client/src/pages/Project/components/RouterPanel/index.js
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/pages/Project/stores/index.js
  packages/iceworks-client/src/pages/Project/stores/menus.js
  packages/iceworks-client/src/pages/Project/stores/navigations.js
  packages/iceworks-client/src/pages/Project/stores/routers.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/io/controller/project/menu.ts
  packages/iceworks-server/src/app/io/controller/project/router.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/interface/base.ts
  packages/iceworks-server/src/interface/index.ts
  packages/iceworks-server/src/interface/menu.ts
  packages/iceworks-server/src/interface/navigation.ts
  packages/iceworks-server/src/interface/router.ts
  packages/iceworks-server/src/lib/adapter/index.ts
  packages/iceworks-server/src/lib/adapter/menu/index.ts
  packages/iceworks-server/src/lib/adapter/router/index.ts
Labels: iceworks 3.0

#2189 [iceworks] refactor socket logic
  packages/iceworks-client/src/components/ConnectModal/index.js
  packages/iceworks-client/src/layouts/MainLayout/index.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/socket.js
  packages/iceworks-server/src/app/io/controller/home/system.ts
  packages/iceworks-server/src/app/router.ts
Labels: iceworks 3.0

#2157 [iceworks]feat general setting
  packages/iceworks-client/.webpackrc.js
  packages/iceworks-client/ice.config.js
  packages/iceworks-client/package.json
  packages/iceworks-client/src/appConfig.js
  packages/iceworks-client/src/components/ConnectBar/index.js
  packages/iceworks-client/src/components/ConnectBar/index.module.scss
  packages/iceworks-client/src/components/ConnectModal/index.js
  packages/iceworks-client/src/components/GlobalBar/index.js
  packages/iceworks-client/src/components/GlobalBar/index.module.scss
  packages/iceworks-client/src/components/Icon/index.js
  packages/iceworks-client/src/components/Locale/index.js
  packages/iceworks-client/src/components/NavigationBar/index.module.scss
  packages/iceworks-client/src/components/SubMenu/index.module.scss
  packages/iceworks-client/src/components/SubMenuItem/index.js
  packages/iceworks-client/src/components/SubMenuItem/index.module.scss
  packages/iceworks-client/src/components/ThemeProvider/createTheme.js
  packages/iceworks-client/src/components/ThemeProvider/createThemeProvider.js
  packages/iceworks-client/src/components/ThemeProvider/createWithTheme.js
  packages/iceworks-client/src/components/ThemeProvider/index.js
  packages/iceworks-client/src/components/ThemeToggler/index.js
  packages/iceworks-client/src/components/ThemeToggler/index.module.scss
  packages/iceworks-client/src/components/XtermTerminal/index.js
  packages/iceworks-client/src/components/XtermTerminal/index.module.scss
  packages/iceworks-client/src/hooks/useTheme.js
  packages/iceworks-client/src/index.js
  packages/iceworks-client/src/layouts/MainLayout/index.js
  packages/iceworks-client/src/layouts/MainLayout/index.module.scss
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/menuConfig.js
  packages/iceworks-client/src/pages/Material/components/SubMenu/index.module.scss
  packages/iceworks-client/src/pages/Project/components/Panel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/SubMenu/index.module.scss
  packages/iceworks-client/src/pages/Setting/components/General/index.js
  packages/iceworks-client/src/pages/Setting/components/General/index.module.scss
  packages/iceworks-client/src/pages/Setting/components/Main/index.js
  packages/iceworks-client/src/pages/Setting/components/Main/index.module.scss
  packages/iceworks-client/src/pages/Setting/components/Panel/index.js
  packages/iceworks-client/src/pages/Setting/index.js
  packages/iceworks-client/src/pages/SettingAdvanced/index.js
  packages/iceworks-client/src/pages/SettingGeneral/index.js
  packages/iceworks-client/src/pages/SettingMaterial/index.js
  packages/iceworks-client/src/pages/SettingPanel/index.js
  packages/iceworks-client/src/routerConfig.js
  packages/iceworks-client/src/socket.js
  packages/iceworks-client/src/utils/termManager.js
  packages/iceworks-client/src/variables.scss
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/io/controller/home/setting.ts
  packages/iceworks-server/src/app/io/controller/home/system.ts
  packages/iceworks-server/src/app/io/controller/material/index.ts
  packages/iceworks-server/src/app/io/controller/project/task.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/lib/adapter/task/index.ts
  packages/iceworks-server/src/lib/storage.ts
Labels: iceworks 3.0

#2190 fix: add some tips in material page
  packages/iceworks-client/src/appConfig.js
  packages/iceworks-client/src/components/BlockCard/index.js
  packages/iceworks-client/src/components/Icon/index.js
  packages/iceworks-client/src/components/NoData/index.js
  packages/iceworks-client/src/components/NoData/index.module.scss
  packages/iceworks-client/src/components/ScaffoldCard/index.js
  packages/iceworks-client/src/components/ScaffoldCard/index.module.scss
  packages/iceworks-client/src/hooks/useMaterial.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Material/components/AddMaterialModal/index.js
  packages/iceworks-client/src/pages/Material/components/BlockPanel/index.js
  packages/iceworks-client/src/pages/Material/components/BlockPanel/index.module.scss
  packages/iceworks-client/src/pages/Material/components/ComponentPanel/index.js
  packages/iceworks-client/src/pages/Material/components/ComponentPanel/index.module.scss
  packages/iceworks-client/src/pages/Material/components/ScaffoldPanel/index.js
  packages/iceworks-client/src/pages/Material/components/SubMenu/SubMenuItem.js
  packages/iceworks-client/src/pages/Material/components/SubMenu/index.js
  packages/iceworks-client/src/pages/Material/index.js
  packages/iceworks-client/src/pages/Material/index.module.scss
  packages/iceworks-client/src/stores/material.js
  packages/iceworks-server/src/app/io/controller/material/index.ts
Labels: iceworks 3.0

#2107 [iceworks]feat: add navigation and router config #2031
  packages/iceworks-client/package.json
  packages/iceworks-client/src/components/MenuTreeConfig/index.js
  packages/iceworks-client/src/components/MenuTreeConfig/index.module.scss
  packages/iceworks-client/src/components/TipIcon/index.js
  packages/iceworks-client/src/components/TipIcon/index.module.scss
  packages/iceworks-client/src/hooks/useWhenValueChanges.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/components/MenuPanel/CreateMenuModal.js
  packages/iceworks-client/src/pages/Project/components/MenuPanel/CreateMenuModal.module.scss
  packages/iceworks-client/src/pages/Project/components/MenuPanel/DeleteMenuModal.js
  packages/iceworks-client/src/pages/Project/components/MenuPanel/DeleteMenuModal.module.scss
  packages/iceworks-client/src/pages/Project/components/MenuPanel/index.js
  packages/iceworks-client/src/pages/Project/components/MenuPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/PagePanel/SavePageModal.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/SavePageModal.module.scss
  packages/iceworks-client/src/pages/Project/components/PagePanel/index.js
  packages/iceworks-client/src/pages/Project/components/Panel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/RouterPanel/CreateRouterModal.js
  packages/iceworks-client/src/pages/Project/components/RouterPanel/CreateRouterModal.module.scss
  packages/iceworks-client/src/pages/Project/components/RouterPanel/DeleteRouterModal.js
  packages/iceworks-client/src/pages/Project/components/RouterPanel/DeleteRouterModal.module.scss
  packages/iceworks-client/src/pages/Project/components/RouterPanel/index.js
  packages/iceworks-client/src/pages/Project/components/RouterPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/pages/Project/stores/index.js
  packages/iceworks-client/src/pages/Project/stores/menu.js
  packages/iceworks-client/src/pages/Project/stores/routes.js
  packages/iceworks-client/src/utils/traverse.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/io/controller/project/menu.ts
  packages/iceworks-server/src/app/io/controller/project/router.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/interface/index.ts
  packages/iceworks-server/src/interface/menu.ts
  packages/iceworks-server/src/interface/router.ts
  packages/iceworks-server/src/lib/adapter/formatCodeFromAST.ts
  packages/iceworks-server/src/lib/adapter/index.ts
  packages/iceworks-server/src/lib/adapter/menu/index.ts
  packages/iceworks-server/src/lib/adapter/router/index.ts
Labels: iceworks 3.0

#2206 fix: event name
  packages/iceworks-client/src/pages/Project/stores/menu.js
Labels: iceworks 3.0

#2208 fix: frontend warning
  packages/iceworks-client/src/components/TipIcon/index.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/components/OSSPanel/index.js
Labels: iceworks 3.0

#2211 fix: storage `add` rename to `set`
  packages/iceworks-server/src/app/io/controller/material/index.ts
Labels: iceworks 3.0

#2193 fix: fix tslint & code style
  packages/iceworks-server/.travis.yml
  packages/iceworks-server/appveyor.yml
  packages/iceworks-server/package.json
  packages/iceworks-server/procfile.js
  packages/iceworks-server/src/app/io/controller/home/project.ts
  packages/iceworks-server/src/app/io/controller/home/system.ts
  packages/iceworks-server/src/app/io/controller/material/index.ts
  packages/iceworks-server/src/app/io/middleware/adapter.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/interface/base.ts
  packages/iceworks-server/src/interface/configuration.ts
  packages/iceworks-server/src/interface/dependency.ts
  packages/iceworks-server/src/interface/git.ts
  packages/iceworks-server/src/interface/menu.ts
  packages/iceworks-server/src/interface/router.ts
  packages/iceworks-server/src/interface/task.ts
  packages/iceworks-server/src/interface/todo.ts
  packages/iceworks-server/src/lib/adapter/configuration/index.ts
  packages/iceworks-server/src/lib/adapter/def/client.ts
  packages/iceworks-server/src/lib/adapter/def/index.ts
  packages/iceworks-server/src/lib/adapter/dependency/index.ts
  packages/iceworks-server/src/lib/adapter/formatCodeFromAST.ts
  packages/iceworks-server/src/lib/adapter/getIceVersion.ts
  packages/iceworks-server/src/lib/adapter/git/index.ts
  packages/iceworks-server/src/lib/adapter/layout/index.ts
  packages/iceworks-server/src/lib/adapter/menu/index.ts
  packages/iceworks-server/src/lib/adapter/oss/index.ts
  packages/iceworks-server/src/lib/adapter/page/index.ts
  packages/iceworks-server/src/lib/adapter/router/index.ts
  packages/iceworks-server/src/lib/adapter/task/index.ts
  packages/iceworks-server/src/lib/adapter/utils/cliConf.ts
  packages/iceworks-server/src/lib/downloadAndExtractPackage.ts
  packages/iceworks-server/src/lib/getTarballURLByMaterielSource.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
  packages/iceworks-server/src/lib/scanDirectory.ts
  packages/iceworks-server/tsconfig.json
  packages/iceworks-server/tslint.json
Labels: iceworks 3.0

#2210 feat: support dark theme in material page
  packages/iceworks-client/ice.config.js
  packages/iceworks-client/src/components/BlockCard/index.module.scss
  packages/iceworks-client/src/components/ComponentCard/index.module.scss
  packages/iceworks-client/src/components/MaterialCategories/index.module.scss
  packages/iceworks-client/src/components/ScaffoldCard/index.js
  packages/iceworks-client/src/components/ScaffoldCard/index.module.scss
Labels: iceworks 3.0

#2215 refactor: material category
  packages/iceworks-client/package.json
  packages/iceworks-client/src/components/MaterialCategories/index.js
  packages/iceworks-client/src/components/MaterialCategories/index.module.scss
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Material/components/BlockPanel/index.js
  packages/iceworks-client/src/pages/Material/components/ComponentPanel/index.js
  packages/iceworks-client/src/pages/Material/components/ScaffoldPanel/index.js
  packages/iceworks-client/src/pages/Material/index.js
  packages/iceworks-client/src/stores/material.js
  packages/iceworks-server/src/app/io/controller/material/index.ts
  packages/iceworks-server/src/app/router.ts
Labels: iceworks 3.0

#2181 feature: project panels settings: show/hide && sortable
  packages/iceworks-client/package.json
  packages/iceworks-client/src/hooks/useProject.js
  packages/iceworks-client/src/pages/Project/components/DependencyPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/GitPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/OSSPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/PagePanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/Panel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/PanelSettingModal/index.js
  packages/iceworks-client/src/pages/Project/components/PanelSettingModal/index.module.scss
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/pages/Project/index.module.scss
  packages/iceworks-client/src/pages/Project/panels.js
  packages/iceworks-client/src/stores/project.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/io/controller/home/project.ts
  packages/iceworks-server/src/app/io/controller/material/index.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/interface/base.ts
  packages/iceworks-server/src/lib/adapter/configuration/index.ts
  packages/iceworks-server/src/lib/adapter/def/index.ts
  packages/iceworks-server/src/lib/adapter/dependency/index.ts
  packages/iceworks-server/src/lib/adapter/git/index.ts
  packages/iceworks-server/src/lib/adapter/layout/index.ts
  packages/iceworks-server/src/lib/adapter/menu/index.ts
  packages/iceworks-server/src/lib/adapter/oss/index.ts
  packages/iceworks-server/src/lib/adapter/page/index.ts
  packages/iceworks-server/src/lib/adapter/router/index.ts
  packages/iceworks-server/src/lib/adapter/task/index.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
  packages/iceworks-server/src/lib/storage.ts
Labels: iceworks 3.0

#2203 [iceworks] iceworks/env
  packages/iceworks-server/package.json
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2216 feat: support --config to use custom config
  tools/ice-scripts/bin/child-process-dev.js
  tools/ice-scripts/bin/ice-scripts-build.js
  tools/ice-scripts/lib/core/Context.js
Labels: ice-scripts

#2213 feat: todo panel
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/components/TodoPanel/index.js
  packages/iceworks-client/src/pages/Project/components/TodoPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/pages/Project/stores/index.js
  packages/iceworks-client/src/pages/Project/stores/todo.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/interface/todo.ts
  packages/iceworks-server/src/lib/adapter/index.ts
  packages/iceworks-server/src/lib/adapter/todo/index.ts
Labels: iceworks 3.0

#2207 fix: check before run command
  tools/ice-scripts/bin/child-process-dev.js
  tools/ice-scripts/bin/ice-scripts-build.js
  tools/ice-scripts/bin/ice-scripts.js
  tools/ice-scripts/lib/utils/checkNodeVersion.js
  tools/ice-scripts/package.json
Labels: ice-scripts

#2214 fix: formate windows output path
  tools/ice-scripts/lib/plugins/userConfig/configs/hash.js
  tools/ice-scripts/lib/plugins/userConfig/configs/outputAssetsPath.js
  tools/ice-scripts/lib/plugins/userConfig/utils/formatWinPath.js
Labels: ice-scripts

#2226 refactor: 自定义模板升级 ice-scripts
  packages/ice-template-builder/.gitignore
  packages/ice-template-builder/templates/redux/_package.json
  packages/ice-template-builder/templates/redux/ice.config.js
  packages/ice-template-builder/utils/reduxFileMapping.js
Labels: iceworks 2.0

#2225 [优化] Icon 优化
  packages/iceworks-client/src/components/Icon/index.js
  packages/iceworks-client/src/components/MenuTreeConfig/index.js
  packages/iceworks-client/src/components/SelectWorkFolderModal/index.js
  packages/iceworks-client/src/pages/Material/components/SubMenu/index.js
  packages/iceworks-client/src/pages/Project/components/Guide/index.js
  packages/iceworks-client/src/pages/Project/components/MenuPanel/index.js
  packages/iceworks-client/src/pages/Project/components/RouterPanel/index.js
  packages/iceworks-client/src/pages/Project/components/SubMenu/index.js
  packages/iceworks-client/src/pages/Project/panels.js
Labels: iceworks 3.0

#2196 feat: ice plugin for wrap code
  packages/ice-plugin-wrap-code/CHANGELOG.md
  packages/ice-plugin-wrap-code/README.md
  packages/ice-plugin-wrap-code/index.js
  packages/ice-plugin-wrap-code/package.json
  packages/ice-plugin-wrap-code/wrapCodeWebpackPlugin.js
Labels: ice-scripts

#2197 feat: ice plugin for load assets
  packages/ice-plugin-load-assets/CHANGELOG.md
  packages/ice-plugin-load-assets/README.md
  packages/ice-plugin-load-assets/getLoadScriptsCode.js
  packages/ice-plugin-load-assets/index.js
  packages/ice-plugin-load-assets/package.json
Labels: ice-scripts

#2202 feat: ice-plugin-smart-debug
  packages/ice-plugin-smart-debug/CHANGELOG.md
  packages/ice-plugin-smart-debug/README.md
  packages/ice-plugin-smart-debug/getSmartLoaderCode.js
  packages/ice-plugin-smart-debug/index.js
  packages/ice-plugin-smart-debug/package.json
  packages/ice-plugin-smart-debug/runtimePublicPathLoader.js
Labels: ice-scripts

#2212 [iceworks] refactor panel setting and new start guide
  packages/iceworks-client/ice.config.js
  packages/iceworks-client/package.json
  packages/iceworks-client/src/pages/Project/components/GuidePanel/index.js
  packages/iceworks-client/src/pages/Project/components/GuidePanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/Panel/index.js
  packages/iceworks-client/src/pages/Project/components/PanelSetting/index.js
  packages/iceworks-client/src/pages/Project/components/PanelSetting/index.module.scss
  packages/iceworks-client/src/pages/Project/components/PanelSettingModal/index.js
  packages/iceworks-client/src/pages/Project/components/PanelSettingModal/index.module.scss
  packages/iceworks-client/src/pages/Project/components/QuickStart/index.js
  packages/iceworks-client/src/pages/Project/components/QuickStart/index.module.scss
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/pages/Project/index.module.scss
  packages/iceworks-client/src/pages/Project/panels.js
  packages/iceworks-server/src/interface/base.ts
  packages/iceworks-server/src/lib/adapter/config.ts
  packages/iceworks-server/src/lib/adapter/configuration/index.ts
  packages/iceworks-server/src/lib/adapter/def/index.ts
  packages/iceworks-server/src/lib/adapter/dependency/index.ts
  packages/iceworks-server/src/lib/adapter/git/index.ts
  packages/iceworks-server/src/lib/adapter/guide/index.ts
  packages/iceworks-server/src/lib/adapter/index.ts
  packages/iceworks-server/src/lib/adapter/layout/index.ts
  packages/iceworks-server/src/lib/adapter/menu/index.ts
  packages/iceworks-server/src/lib/adapter/oss/index.ts
  packages/iceworks-server/src/lib/adapter/page/index.ts
  packages/iceworks-server/src/lib/adapter/router/index.ts
  packages/iceworks-server/src/lib/adapter/task/index.ts
  packages/iceworks-server/src/lib/adapter/todo/index.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2223 feature: 页面搭建功能
  packages/iceworks-client/src/components/BlockCard/index.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/mock.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/BuildPageModal.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/BuildPageModal.module.scss
  packages/iceworks-client/src/pages/Project/components/PagePanel/CreatePageModal.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/CreatePageModal.module.scss
  packages/iceworks-client/src/pages/Project/components/PagePanel/index.js
  packages/iceworks-client/src/pages/Project/stores/index.js
  packages/iceworks-client/src/pages/Project/stores/pages.js
  packages/iceworks-client/src/stores/material.js
  packages/iceworks-server/src/interface/base.ts
  packages/iceworks-server/src/interface/page.ts
  packages/iceworks-server/src/lib/adapter/page/index.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
  packages/iceworks-server/src/lib/storage.ts
Labels: iceworks 3.0

#2232 fix: fix theme init bug & locale
  packages/iceworks-client/src/components/Locale/index.js
  packages/iceworks-client/src/index.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Setting/components/General/index.js
Labels: iceworks 3.0

#2233 refactor: style checking
  packages/iceworks-client/src/components/CreateProjectModal/index.js
  packages/iceworks-client/src/components/CreateProjectModal/index.module.scss
  packages/iceworks-client/src/components/NavigationBar/index.module.scss
  packages/iceworks-client/src/components/SubMenuItem/index.module.scss
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Material/components/SubMenu/index.js
  packages/iceworks-client/src/pages/Material/components/SubMenu/index.module.scss
  packages/iceworks-client/src/pages/Project/components/GuidePanel/index.js
  packages/iceworks-client/src/pages/Project/components/GuidePanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/PagePanel/BuildPageModal.module.scss
  packages/iceworks-client/src/pages/Project/components/RouterPanel/index.module.scss
  packages/iceworks-server/src/lib/adapter/task/const.ts
Labels: iceworks 3.0

#2227 [iceworks] changelog
  tools/iceworks/changelog/2.22.0.json
  tools/iceworks/changelog/changelog.json
Labels: iceworks 2.0

#2235 fix: upgrade ice-scripts to 2.x should also set `themeConfig`
  packages/ice-template-builder/package.json
  packages/ice-template-builder/templates/redux/ice.config.js
  tools/iceworks/app/main/services/worker/generate-project.js
Labels: iceworks 2.0

#2239 feature: panel icons add tooltip/add refresh for layout
  packages/iceworks-client/src/components/TipIcon/index.js
  packages/iceworks-client/src/components/TipIcon/index.module.scss
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/components/DependencyPanel/index.js
  packages/iceworks-client/src/pages/Project/components/GitPanel/index.js
  packages/iceworks-client/src/pages/Project/components/LayoutPanel/index.js
  packages/iceworks-client/src/pages/Project/components/LayoutPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/MenuPanel/index.js
  packages/iceworks-client/src/pages/Project/components/MenuPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/components/OSSPanel/index.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/index.js
  packages/iceworks-client/src/pages/Project/components/RouterPanel/CreateRouterModal.js
  packages/iceworks-client/src/pages/Project/components/RouterPanel/index.js
  packages/iceworks-client/src/pages/Project/components/TodoPanel/index.js
Labels: iceworks 3.0

#2234 docs: introduction for new plugins
  docs/cli/migrate.md
  docs/cli/plugin-list/load-assets.md
  docs/cli/plugin-list/smart-debug.md
  packages/ice-plugin-load-assets/README.md
  packages/ice-plugin-smart-debug/README.md
Labels: docs

#2171 screenshot
  packages/ice-screenshot/CHANGELOG.md
  packages/ice-screenshot/README.md
  packages/ice-screenshot/bin/index.js
  packages/ice-screenshot/package.json
  packages/ice-screenshot/utils/createServer.js
  packages/ice-screenshot/utils/getPuppeteer.js
  tools/ice-devtools/lib/block/screenshot.js
  tools/ice-devtools/lib/build.js
  tools/ice-devtools/lib/component/screenshot.js
  tools/ice-devtools/lib/scaffold/screenshot.js
  tools/ice-devtools/lib/screenshot.js
  tools/ice-devtools/lib/start.js
  tools/ice-devtools/package.json
  tools/ice-devtools/utils/screenshot.js
Labels: ice-devtools

#2240 [docs]add form document
  docs/guide/dev/form.md
Labels: docs

#2246 Feat: server i18n
  packages/iceworks-client/src/components/BlockCard/index.js
  packages/iceworks-client/src/components/ComponentCard/index.js
  packages/iceworks-server/src/app/io/middleware/adapter.ts
  packages/iceworks-server/src/config/plugin.ts
  packages/iceworks-server/src/interface/base.ts
  packages/iceworks-server/src/lib/adapter/todo/index.ts
  packages/iceworks-server/src/lib/plugin/i18n/app.ts
  packages/iceworks-server/src/lib/plugin/i18n/package.json
  packages/iceworks-server/src/lib/recursiveReaddir.ts
  packages/iceworks-server/src/locale/en-US.json
  packages/iceworks-server/src/locale/zh-CN.json
  packages/iceworks-server/tsconfig.json
Labels: iceworks 3.0

#2266 refactor: upgrade @icedesign/template-builder to 3.x
  tools/iceworks/app/package.json
  tools/iceworks/app/yarn.lock
  tools/iceworks/renderer/package.json
  tools/iceworks/renderer/yarn.lock
Labels: iceworks 2.0

#2262 fix: dev status lost
  packages/iceworks-client/src/pages/Task/index.js
  packages/iceworks-client/src/pages/Task/stores/task.js
  packages/iceworks-server/src/interface/task.ts
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
Labels: iceworks 3.0

#2268 Iceworks/rename adapter
  packages/iceworks-server/src/lib/adapter-ice-scripts-1-kit-2/package.json
  packages/iceworks-server/src/lib/adapter-ice-scripts-2-kit-3/package.json
  packages/iceworks-server/src/lib/adapter-react-v1/README.md
  packages/iceworks-server/src/lib/adapter-react-v1/package.json
  packages/iceworks-server/src/lib/adapter-react-v2/README.md
  packages/iceworks-server/src/lib/adapter-react-v2/package.json
  packages/iceworks-server/src/lib/adapter/README.md
  packages/iceworks-server/src/lib/adapter/package.json
Labels: iceworks 3.0

#2271 Fix: fix module name
  packages/iceworks-server/src/lib/adapter/index.ts
  packages/iceworks-server/src/lib/plugin/i18n/app.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2272 [iceworks]Change lodash import
  packages/iceworks-server/package.json
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
  packages/iceworks-server/src/lib/adapter/utils/cliConf.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2276 refactor: custom template
  packages/ice-template-builder/src/components/Form/BasicForm/BasicForm.jsx
  packages/ice-template-builder/templates/redux/_package.json
  packages/ice-template-builder/templates/redux/ice.config.js
  tools/iceworks/renderer/src/components/CustomScaffold/ColorCard.jsx
Labels: iceworks 2.0

#2279 Fix: fix todo icon
  packages/iceworks-client/src/pages/Project/components/TodoPanel/index.module.scss
Labels: iceworks 3.0

#2280 [Iceworks]vue adapter
  packages/iceworks-server/src/interface/base.ts
  packages/iceworks-server/src/interface/configuration.ts
  packages/iceworks-server/src/interface/task.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/README.md
  packages/iceworks-server/src/lib/adapter-vue-v1/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/modules/configuration/configSchema.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/modules/configuration/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/modules/task/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/modules/task/taskConfig.ts
  packages/iceworks-server/src/lib/adapter-vue-v1/package.json
  packages/iceworks-server/src/lib/adapter/modules/configuration/configSchema.ts
  packages/iceworks-server/src/lib/adapter/modules/configuration/index.ts
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
  packages/iceworks-server/src/lib/adapter/modules/task/taskConfig.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2169 Refactor material docs
  docs/materials/about.md
  docs/materials/angular.md
  docs/materials/custom-template.md
  docs/materials/get_start.md
  docs/materials/guide/dev.md
  docs/materials/guide/generate.md
  docs/materials/guide/init.md
  docs/materials/guide/usage.md
  docs/materials/init-dev.md
  docs/materials/publish-use.md
  docs/materials/react.md
  docs/materials/recommand.md
  docs/materials/reference/command.md
  docs/materials/reference/dev.md
  docs/materials/reference/package.md
  docs/materials/reference/private.md
  docs/materials/reference/protocol.md
  docs/materials/schema.md
  docs/materials/template/block.md
  docs/materials/template/component.md
  docs/materials/template/custom.md
  docs/materials/template/react.md
  docs/materials/template/scaffold.md
  docs/materials/template/vue.md
  docs/materials/vue.md
  scripts/docConfig.js
Labels: ice-devtools

#2288 [iceworks ] fix: task status save in global
  packages/iceworks-client/src/pages/Task/index.js
  packages/iceworks-client/src/pages/Task/stores/task.js
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
Labels: iceworks 3.0

#2205 [项目]路由导航升级、优化
  packages/iceworks-client/package.json
  packages/iceworks-client/src/components/ComponentCard/index.js
  packages/iceworks-client/src/components/MenuTreeConfig/index.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/components/MenuPanel/CreateMenuModal.js
  packages/iceworks-client/src/pages/Project/components/MenuPanel/DeleteMenuModal.js
  packages/iceworks-client/src/pages/Project/components/MenuPanel/index.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/SavePageModal.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/index.js
  packages/iceworks-client/src/pages/Project/components/RouterPanel/CreateRouterModal.js
  packages/iceworks-client/src/pages/Project/components/RouterPanel/DeleteRouterModal.js
  packages/iceworks-client/src/pages/Project/components/RouterPanel/index.js
  packages/iceworks-client/src/pages/Project/components/RouterPanel/index.module.scss
  packages/iceworks-client/src/pages/Project/stores/menu.js
  packages/iceworks-client/src/pages/Project/stores/routes.js
  packages/iceworks-server/src/interface/base.ts
  packages/iceworks-server/src/interface/router.ts
  packages/iceworks-server/src/lib/adapter/modules/menu/index.ts
  packages/iceworks-server/src/lib/adapter/modules/router/index.ts
Labels: iceworks 3.0

#2289 [iceworks] fix: xterm style
  packages/iceworks-client/src/components/GlobalBar/index.module.scss
Labels: iceworks 3.0

#2182 [iceworks] iceworks/release-2.22.0
  packages/ice-template-builder/.gitignore
  packages/ice-template-builder/package.json
  packages/ice-template-builder/src/components/Form/BasicForm/BasicForm.jsx
  packages/ice-template-builder/templates/redux/_package.json
  packages/ice-template-builder/templates/redux/ice.config.js
  packages/ice-template-builder/utils/reduxFileMapping.js
  tools/iceworks/app/main/scaffolder/lib/utils.js
  tools/iceworks/app/main/services/worker/generate-project.js
  tools/iceworks/app/main/template/createProject.js
  tools/iceworks/app/package.json
  tools/iceworks/app/yarn.lock
  tools/iceworks/changelog/2.22.0.json
  tools/iceworks/changelog/changelog.json
  tools/iceworks/renderer/package.json
  tools/iceworks/renderer/src/components/CustomScaffold/ColorCard.jsx
  tools/iceworks/renderer/src/stores/extensions.js
  tools/iceworks/renderer/yarn.lock
Labels: iceworks 2.0

#2290 feature: 前台一些异步操作后的 UI 处理
  packages/iceworks-client/src/components/GlobalBar/index.js
  packages/iceworks-client/src/hooks/useDependency.js
  packages/iceworks-client/src/pages/Project/components/DEFPanel/index.js
  packages/iceworks-client/src/pages/Task/index.js
  packages/iceworks-client/src/stores/globalTerminal.js
  packages/iceworks-client/src/stores/index.js
Labels: iceworks 3.0

#2294 Feat server logger
  packages/iceworks-server/src/app.ts
  packages/iceworks-server/src/lib/remoteLogger/index.ts
Labels: iceworks 3.0

#2277 [iceworks] feat: adapter-react compat
  packages/iceworks-client/src/components/TaskBar/index.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/pages/Engineering/components/Configuration/index.js
  packages/iceworks-client/src/pages/Engineering/components/Task/components/TaskModal/index.js
  packages/iceworks-client/src/pages/Engineering/components/Task/index.js
  packages/iceworks-client/src/pages/Engineering/components/Task/index.module.scss
  packages/iceworks-client/src/pages/Engineering/components/Task/stores/index.js
  packages/iceworks-client/src/pages/Engineering/components/Task/stores/task.js
  packages/iceworks-client/src/pages/Engineering/index.js
  packages/iceworks-client/src/pages/Engineering/index.module.scss
  packages/iceworks-client/src/pages/Engineering/stores/configuration.js
  packages/iceworks-client/src/pages/Engineering/stores/index.js
  packages/iceworks-client/src/pages/Tasks/index.js
  packages/iceworks-client/src/routerConfig.js
  packages/iceworks-client/src/utils/getMenuData.js
  packages/iceworks-server/src/lib/adapter-react-v1/index.ts
  packages/iceworks-server/src/lib/adapter-react-v1/modules/menu/index.ts
  packages/iceworks-server/src/lib/adapter-react-v1/modules/router/index.ts
  packages/iceworks-server/src/lib/adapter-react-v1/package.json
  packages/iceworks-server/src/lib/adapter-react-v2/index.ts
  packages/iceworks-server/src/lib/adapter-react-v2/modules/menu/index.ts
  packages/iceworks-server/src/lib/adapter-react-v2/modules/router/index.ts
  packages/iceworks-server/src/lib/adapter-react-v3/README.md
  packages/iceworks-server/src/lib/adapter-react-v3/index.ts
  packages/iceworks-server/src/lib/adapter-react-v3/package.json
  packages/iceworks-server/src/lib/adapter/modules/menu/index.ts
  packages/iceworks-server/src/lib/adapter/modules/router/index.ts
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
  packages/iceworks-server/src/lib/adapter/utils/cliConf.ts
Labels: iceworks 3.0

#2297 [iceworks] fix：icestore dependency
  packages/iceworks-client/package.json
  packages/iceworks-client/src/layouts/MainLayout/index.js
  packages/iceworks-client/src/pages/Engineering/components/Task/stores/index.js
  packages/iceworks-client/src/pages/Engineering/stores/index.js
  packages/iceworks-client/src/pages/Project/stores/index.js
  packages/iceworks-client/src/stores/index.js
Labels: iceworks 3.0

#2296 fix: project bugs
  packages/iceworks-client/src/hooks/useProject.js
  packages/iceworks-client/src/pages/Project/components/SubMenu/index.module.scss
  packages/iceworks-client/src/pages/Project/index.js
Labels: iceworks 3.0

#2298 fix: Git 面板相关 Bug
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/components/GitPanel/Main.js
  packages/iceworks-client/src/pages/Project/components/GitPanel/index.js
  packages/iceworks-client/src/pages/Project/stores/git.js
  packages/iceworks-server/src/interface/git.ts
  packages/iceworks-server/src/lib/adapter/modules/git/index.ts
Labels: iceworks 3.0
