Repository alibaba/ice, pull requests merged in 2019-05, with the labels that each got.

#1886 [iceworks]compatibility code
  tools/iceworks/renderer/src/pages/Home/ProjectDashboard/Assets.jsx
Labels: iceworks

#1848 [iceworks]feat: init iceworks-cli
  packages/iceworks-client/package.json
  packages/iceworks-client/public/index.html
  packages/iceworks-client/src/components/Icon/index.css
  packages/iceworks-client/src/components/Icon/index.js
  packages/iceworks-server/.gitignore
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/controller/home.ts
  packages/iceworks-server/src/app/middleware/client.ts
  packages/iceworks-server/src/app/view/index.html
  packages/iceworks-server/src/config/config.default.ts
  tools/iceworks-cli/README.md
  tools/iceworks-cli/bin/iceworks.js
  tools/iceworks-cli/lib/checkVersion.js
  tools/iceworks-cli/lib/downloadAndInstall.js
  tools/iceworks-cli/lib/extractTarball.js
  tools/iceworks-cli/lib/getTarball.js
  tools/iceworks-cli/lib/npmRequest.js
  tools/iceworks-cli/lib/start.js
  tools/iceworks-cli/lib/stop.js
  tools/iceworks-cli/package.json
Labels: iceworks

#1889 refactor: 升级 electron 相关依赖到 4.x
  tools/iceworks/app/package.json
  tools/iceworks/app/yarn.lock
  tools/iceworks/package.json
  tools/iceworks/renderer/package.json
  tools/iceworks/renderer/src/pages/Home/ProjectDashboard/Todo.jsx
  tools/iceworks/yarn.lock
Labels: iceworks

#1882 [chore] ice-scripts 2.0.0 目录结构
  tools/ice-scripts/bin/ice-add.js
  tools/ice-scripts/bin/ice-build.js
  tools/ice-scripts/bin/ice-dev.js
  tools/ice-scripts/bin/ice-init.js
  tools/ice-scripts/lib/commands/add.js
  tools/ice-scripts/lib/commands/build.js
  tools/ice-scripts/lib/commands/dev.js
  tools/ice-scripts/lib/commands/init.js
  tools/ice-scripts/lib/component/build.js
  tools/ice-scripts/lib/component/buildDemo.js
  tools/ice-scripts/lib/component/buildSrc.js
  tools/ice-scripts/lib/component/compile-es5.js
  tools/ice-scripts/lib/component/component-style-generator.js
  tools/ice-scripts/lib/component/demoRouter.js
  tools/ice-scripts/lib/component/depAnalyze.js
  tools/ice-scripts/lib/component/generateEntryJs.js
  tools/ice-scripts/lib/component/getDemos.js
  tools/ice-scripts/lib/component/markdownHelper.js
  tools/ice-scripts/lib/component/pkgJson.js
  tools/ice-scripts/lib/config/getRules.js
  tools/ice-scripts/lib/loaders/componentDemoLoader.js
  tools/ice-scripts/lib/plugins/append-style-webpack-plugin.js
  tools/ice-scripts/lib/plugins/userConfigPlugin.js
  tools/ice-scripts/lib/utils/addBlock.js
  tools/ice-scripts/lib/utils/bizComponentsVersion.js
  tools/ice-scripts/lib/utils/check-ice-components-dep.js
  tools/ice-scripts/lib/utils/deprecatedComponents.js
  tools/ice-scripts/lib/utils/devMiddleware.js
  tools/ice-scripts/lib/utils/download.js
  tools/ice-scripts/lib/utils/iceworksClient.js
  tools/ice-scripts/lib/utils/initMaterial.js
  tools/ice-scripts/lib/utils/initProject.js
  tools/ice-scripts/test/scaffold/download.test.js
  tools/ice-scripts/test/scaffold/initProject.test.js
Labels: ice-scripts

#1904 fix: 命令执行逻辑
  tools/iceworks/app/main/app.js
  tools/iceworks/app/main/env.js
  tools/iceworks/app/main/paths.js
  tools/iceworks/app/main/services/index.js
  tools/iceworks/app/main/services/nrm.js
  tools/iceworks/app/main/services/sessions/Session.js
  tools/iceworks/app/package.json
  tools/iceworks/app/yarn.lock
  tools/iceworks/renderer/src/lib/project-scripts.js
  tools/iceworks/renderer/src/pages/Settings/Settings.jsx
  tools/iceworks/renderer/yarn.lock
Labels: iceworks

#1912 feat: project switch
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/pages/Project/stores/dependencies.js
  packages/iceworks-client/src/pages/Project/stores/pages.js
  packages/iceworks-server/src/lib/service/dependency.ts
  packages/iceworks-server/src/lib/service/page.ts
Labels: iceworks

#1914 fix: Security issues of windows
  tools/iceworks/.buildrc
  tools/iceworks/README.md
  tools/iceworks/gulpfile.js
Labels: iceworks

#1898 [iceworks]Feat project interface
  packages/iceworks-client/src/components/DynamicForm/index.js
  packages/iceworks-client/src/components/DynamicForm/index.module.scss
  packages/iceworks-client/src/menuConfig.js
  packages/iceworks-client/src/pages/Configuration/index.js
  packages/iceworks-client/src/pages/Configuration/stores/configuration.js
  packages/iceworks-client/src/pages/Configuration/stores/index.js
  packages/iceworks-client/src/routerConfig.js
  packages/iceworks-server/src/app/io/controller/project/configuration.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/interface/project.ts
  packages/iceworks-server/src/lib/adapter/config/configurationSettings.ts
  packages/iceworks-server/src/lib/adapter/config/index.ts
  packages/iceworks-server/src/lib/adapter/project.ts
  packages/iceworks-server/src/lib/service/configuration.ts
Labels: iceworks

#1936 refactor: get webpack config through command type
  tools/ice-scripts/lib/config/getDefaultWebpackConfig.js
  tools/ice-scripts/lib/config/webpack.build.js
  tools/ice-scripts/lib/core/Service.js
Labels: ice-scripts

#1937 fix: custom material url address
  tools/iceworks/renderer/src/pages/Settings/CustomMaterials/index.jsx
Labels: iceworks

#1892 chore: upgrade tar to latest version
  tools/ice-devtools/package.json
  tools/ice-devtools/utils/download.js
Labels: ice-devtools

#1939 fix: remove template package.json registry field
  templates/ice-angular-material-template/package.json
  templates/ice-angular-material-template/template/block/_package.json
  templates/ice-angular-material-template/template/scaffold/_package.json
  templates/ice-react-material-template/package.json
  templates/ice-react-material-template/template/block/_package.json
  templates/ice-react-material-template/template/component/_package.json
  templates/ice-react-material-template/template/scaffold/_package.json
  templates/ice-vue-material-template/package.json
  templates/ice-vue-material-template/template/block/_package.json
  templates/ice-vue-material-template/template/scaffold/_package.json
  tools/ice-devtools/template/init/_package.json
Labels: ice-devtools

#1934 fix: fix koa template typo error
  templates/ice-koa-template/templates/package.json
Labels: ice-devtools

#1933 [ice-scripts] add api processEntry
  tools/ice-scripts/lib/core/Plugin.js
  tools/ice-scripts/lib/plugins/cliOptions/index.js
  tools/ice-scripts/lib/plugins/userConfig/configs/entry.js
  tools/ice-scripts/lib/plugins/userConfig/configs/injectBabel.js
  tools/ice-scripts/test/plugins/userConfig.test.js
Labels: ice-scripts

#1890 release: ice-devtools release 2.3.1
  templates/ice-angular-material-template/package.json
  templates/ice-angular-material-template/template/block/_package.json
  templates/ice-angular-material-template/template/scaffold/_package.json
  templates/ice-angular-material-template/template/scaffold/src/pages/pages-routing.module.ts
  templates/ice-angular-material-template/template/scaffold/src/routerConfig.ts
  templates/ice-react-material-template/package.json
  templates/ice-react-material-template/template/block/_package.json
  templates/ice-react-material-template/template/component/_package.json
  templates/ice-react-material-template/template/scaffold/_package.json
  templates/ice-vue-material-template/package.json
  templates/ice-vue-material-template/template/block/_package.json
  templates/ice-vue-material-template/template/scaffold/_package.json
  templates/ice-vue-material-template/template/scaffold/src/layouts/BlankLayout/index.vue
  templates/ice-vue-material-template/template/scaffold/src/menuConfig.js
  templates/ice-vue-material-template/template/scaffold/src/router.js
  templates/ice-vue-material-template/template/scaffold/src/routerConfig.js
  tools/ice-devtools/CHANGELOG.md
  tools/ice-devtools/package.json
  tools/ice-devtools/template/init/_package.json
  tools/ice-devtools/utils/download.js
Labels: ice-devtools

#1935 [iceworks]iceworks adapter design
  packages/iceworks-client/src/components/GlobalBar/index.js
  packages/iceworks-client/src/pages/Configuration/index.js
  packages/iceworks-client/src/pages/Configuration/stores/configuration.js
  packages/iceworks-client/src/pages/Dev/index.js
  packages/iceworks-client/src/pages/Dev/stores/dev.js
  packages/iceworks-client/src/pages/Project/components/Pages/index.js
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/pages/Project/stores/dependencies.js
  packages/iceworks-client/src/pages/Project/stores/pages.js
  packages/iceworks-client/src/stores/project.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/io/controller/project/configuration.ts
  packages/iceworks-server/src/app/io/controller/project/dependency.ts
  packages/iceworks-server/src/app/io/controller/project/dev.ts
  packages/iceworks-server/src/app/io/controller/project/index.ts
  packages/iceworks-server/src/app/io/controller/project/page.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/interface/base.ts
  packages/iceworks-server/src/interface/build.ts
  packages/iceworks-server/src/interface/component.ts
  packages/iceworks-server/src/interface/configuration.ts
  packages/iceworks-server/src/interface/dependency.ts
  packages/iceworks-server/src/interface/dev.ts
  packages/iceworks-server/src/interface/index.ts
  packages/iceworks-server/src/interface/layout.ts
  packages/iceworks-server/src/interface/material.ts
  packages/iceworks-server/src/interface/menu.ts
  packages/iceworks-server/src/interface/mock.ts
  packages/iceworks-server/src/interface/page.ts
  packages/iceworks-server/src/interface/project.ts
  packages/iceworks-server/src/interface/router.ts
  packages/iceworks-server/src/interface/todo.ts
  packages/iceworks-server/src/lib/adapter/config/index.ts
  packages/iceworks-server/src/lib/adapter/configuration/const.ts
  packages/iceworks-server/src/lib/adapter/configuration/index.ts
  packages/iceworks-server/src/lib/adapter/dependency/index.ts
  packages/iceworks-server/src/lib/adapter/dev/const.ts
  packages/iceworks-server/src/lib/adapter/dev/index.ts
  packages/iceworks-server/src/lib/adapter/index.ts
  packages/iceworks-server/src/lib/adapter/page/index.ts
  packages/iceworks-server/src/lib/adapter/project.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
  packages/iceworks-server/src/lib/service/configuration.ts
  packages/iceworks-server/src/lib/service/dependency.ts
  packages/iceworks-server/src/lib/service/dev.ts
  packages/iceworks-server/src/lib/service/page.ts
  packages/iceworks-server/src/lib/storage.ts
Labels: iceworks

#1942 feature: add/delete project
  packages/iceworks-client/package.json
  packages/iceworks-client/src/components/Modal/index.js
  packages/iceworks-client/src/components/SubMenu/index.js
  packages/iceworks-client/src/components/SubMenu/index.module.scss
  packages/iceworks-client/src/components/WorkSubMenu/index.js
  packages/iceworks-client/src/components/WorkSubMenu/index.module.scss
  packages/iceworks-client/src/index.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Dev/index.js
  packages/iceworks-client/src/pages/Dev/stores/dev.js
  packages/iceworks-client/src/pages/Project/components/DeleteProjectModal/index.js
  packages/iceworks-client/src/pages/Project/components/DeleteProjectModal/index.module.scss
  packages/iceworks-client/src/pages/Project/components/Guide/index.js
  packages/iceworks-client/src/pages/Project/components/Guide/index.module.scss
  packages/iceworks-client/src/pages/Project/components/OpenProjectModal/index.js
  packages/iceworks-client/src/pages/Project/components/SubMenu/index.js
  packages/iceworks-client/src/pages/Project/components/SubMenu/index.module.scss
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/pages/Project/index.module.scss
  packages/iceworks-client/src/pages/Project/stores/dependencies.js
  packages/iceworks-client/src/pages/Project/stores/pages.js
  packages/iceworks-client/src/pages/Setting/index.js
  packages/iceworks-client/src/pages/Work/index.js
  packages/iceworks-client/src/stores/project.js
  packages/iceworks-client/src/stores/projects.js
  packages/iceworks-client/src/variables.scss
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/io/controller/project/dev.ts
  packages/iceworks-server/src/app/io/controller/project/index.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks

#1945 refactor: add default user config
  tools/ice-scripts/bin/ice-dev.js
  tools/ice-scripts/lib/commands/dev.js
  tools/ice-scripts/lib/config/default.config.js
  tools/ice-scripts/lib/config/getBabelConfig.js
  tools/ice-scripts/lib/config/webpack.base.js
  tools/ice-scripts/lib/config/webpack.build.js
  tools/ice-scripts/lib/config/webpack.dev.js
  tools/ice-scripts/lib/core/Service.js
  tools/ice-scripts/lib/plugins/cliOptions/index.js
  tools/ice-scripts/lib/plugins/userConfig/configs/devServer.js
  tools/ice-scripts/lib/plugins/userConfig/configs/extensions.js
  tools/ice-scripts/lib/plugins/userConfig/configs/filename.js
  tools/ice-scripts/lib/plugins/userConfig/configs/injectBabel.js
  tools/ice-scripts/lib/plugins/userConfig/configs/minify.js
  tools/ice-scripts/lib/plugins/userConfig/configs/modules.js
  tools/ice-scripts/lib/plugins/userConfig/configs/proxy.js
  tools/ice-scripts/lib/plugins/userConfig/configs/publicPath.js
  tools/ice-scripts/lib/plugins/userConfig/configs/vendor.js
  tools/ice-scripts/lib/plugins/userConfig/index.js
  tools/ice-scripts/test/core/Service.test.js
Labels: ice-scripts

#1961 fix: bind this to prevent context change
  tools/ice-scripts/lib/core/Plugin.js
Labels: ice-scripts

#1965 refactor: controller slimming
  packages/iceworks-client/src/socket.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/io/controller/project/configuration.ts
  packages/iceworks-server/src/app/io/controller/project/dependency.ts
  packages/iceworks-server/src/app/io/controller/project/dev.ts
  packages/iceworks-server/src/app/io/controller/project/index.ts
  packages/iceworks-server/src/app/io/controller/project/page.ts
  packages/iceworks-server/src/app/router.ts
Labels: iceworks 3.0

#1960 feat: 添加 ice-plugin-fusion
  packages/ice-plugin-antd/CHANGELOG.md
  packages/ice-plugin-antd/README.md
  packages/ice-plugin-antd/index.js
  packages/ice-plugin-antd/package.json
  packages/ice-plugin-fusion/CHANGELOG.md
  packages/ice-plugin-fusion/README.md
  packages/ice-plugin-fusion/index.js
  packages/ice-plugin-fusion/package.json
  packages/ice-skin-loader/CHANGELOG.md
  packages/ice-skin-loader/README.md
  packages/ice-skin-loader/lib/generateVarsByThemeConfig.js
  packages/ice-skin-loader/package.json
  tools/ice-scripts/lib/config/getBabelConfig.js
  tools/ice-scripts/lib/config/setWebpackLoaders.js
  tools/ice-scripts/lib/config/setWebpackPlugins.js
  tools/ice-scripts/lib/core/Plugin.js
  tools/ice-scripts/lib/core/Service.js
Labels: ice-scripts

#1968 fix: process entry before resolve webpack config
  tools/ice-scripts/lib/core/Plugin.js
  tools/ice-scripts/lib/core/Service.js
  tools/ice-scripts/lib/plugins/userConfig/configs/entry.js
  tools/ice-scripts/test/core/Service.test.js
  tools/ice-scripts/test/plugins/userConfig.test.js
Labels: ice-scripts

#1952 feat: support event hooks
  tools/ice-scripts/lib/commands/build.js
  tools/ice-scripts/lib/commands/dev.js
  tools/ice-scripts/lib/core/Plugin.js
  tools/ice-scripts/lib/core/Service.js
Labels: ice-scripts

#1973 [fix] remove paths from service& api -> service
  packages/ice-plugin-fusion/index.js
  tools/ice-scripts/lib/commands/build.js
  tools/ice-scripts/lib/commands/dev.js
  tools/ice-scripts/lib/core/Service.js
Labels: ice-scripts

#1974 feat: handle controller error
  packages/iceworks-server/src/app/router.ts
Labels: iceworks 3.0

#1971 feat: new ice-scripts plugin: ice-plugin-css-assets-local
  packages/ice-plugin-css-assets-local/CHANGELOG.md
  packages/ice-plugin-css-assets-local/README.md
  packages/ice-plugin-css-assets-local/index.js
  packages/ice-plugin-css-assets-local/package.json
Labels: ice-scripts

#1979 fix: add less-module scss-module rule
  packages/ice-plugin-antd/index.js
  packages/ice-plugin-fusion/index.js
  packages/ice-plugin-fusion/package.json
  tools/ice-scripts/lib/core/Service.js
  tools/ice-scripts/package.json
Labels: ice-scripts

#1978 feat: support generate folder adaptor of init component
  tools/ice-scripts/lib/template/component/adaptor/index.js
  tools/ice-scripts/lib/template/component/demo.hbs
  tools/ice-scripts/lib/template/component/home.hbs
  tools/ice-scripts/lib/template/component/index.html.hbs
  tools/ice-scripts/lib/template/component/index.js.hbs
  tools/ice-scripts/lib/utils/initMaterial.js
Labels: ice-scripts

#1982 feat: project package.json data for Adapter
  packages/iceworks-server/src/interface/base.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#1983 feat: interface for material block
  packages/iceworks-server/src/interface/base.ts
Labels: iceworks 3.0

#1987 feat: ice-scripts-plugin-multi-pages
  packages/ice-scripts-plugin-multi-pages/CHANGELOG.md
  packages/ice-scripts-plugin-multi-pages/README.md
  packages/ice-scripts-plugin-multi-pages/getEntryByPages.js
  packages/ice-scripts-plugin-multi-pages/index.js
  packages/ice-scripts-plugin-multi-pages/package.json
Labels: ice-scripts

#1992 feat: processEnv for Adapter
  packages/iceworks-server/src/interface/base.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
  packages/iceworks-server/src/lib/plugin/project-manager/getEnv.ts
Labels: iceworks 3.0

#1996 [iceworks]feat: run build task
  packages/iceworks-client/src/pages/Build/index.js
  packages/iceworks-server/src/app/io/controller/project/build.ts
  packages/iceworks-server/src/app/io/controller/project/dev.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/lib/adapter/build/index.ts
  packages/iceworks-server/src/lib/adapter/index.ts
Labels: iceworks 3.0

#1997 fix: add camelcase dep
  tools/ice-scripts/package.json
Labels: ice-scripts

#1998 refactor: Pass project to adapter module
  packages/iceworks-server/src/interface/base.ts
  packages/iceworks-server/src/lib/adapter/page/index.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
  packages/iceworks-server/src/lib/plugin/project-manager/getEnv.ts
Labels: iceworks 3.0

#1999 fix: project to module
  packages/iceworks-server/package.json
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#1985 feat: ice-plugin-component
  packages/ice-scripts-plugin-component/CHANGELOG.md
  packages/ice-scripts-plugin-component/README.md
  packages/ice-scripts-plugin-component/lib/compile/component/bableCompile.js
  packages/ice-scripts-plugin-component/lib/compile/component/buildSrc.js
  packages/ice-scripts-plugin-component/lib/compile/component/markdownHelper.js
  packages/ice-scripts-plugin-component/lib/compile/component/modifyPkgHomePage.js
  packages/ice-scripts-plugin-component/lib/compile/fusion/componentStyleGenerator.js
  packages/ice-scripts-plugin-component/lib/compile/fusion/depAnalyze.js
  packages/ice-scripts-plugin-component/lib/compile/fusion/resolveSassImport.js
  packages/ice-scripts-plugin-component/lib/configs/adaptorBuild.js
  packages/ice-scripts-plugin-component/lib/configs/base.js
  packages/ice-scripts-plugin-component/lib/configs/build.js
  packages/ice-scripts-plugin-component/lib/configs/dev.js
  packages/ice-scripts-plugin-component/lib/index.js
  packages/ice-scripts-plugin-component/lib/loaders/componentDemoLoader.js
  packages/ice-scripts-plugin-component/lib/template/adaptor.html.hbs
  packages/ice-scripts-plugin-component/lib/template/adaptor.js.hbs
  packages/ice-scripts-plugin-component/lib/template/build.html
  packages/ice-scripts-plugin-component/lib/template/demo.hbs
  packages/ice-scripts-plugin-component/lib/template/home.hbs
  packages/ice-scripts-plugin-component/lib/template/index.html.hbs
  packages/ice-scripts-plugin-component/lib/template/index.js.hbs
  packages/ice-scripts-plugin-component/lib/utils/configBabel.js
  packages/ice-scripts-plugin-component/lib/utils/demoRouter.js
  packages/ice-scripts-plugin-component/lib/utils/formatPathForWin.js
  packages/ice-scripts-plugin-component/lib/utils/generateEntryJs.js
  packages/ice-scripts-plugin-component/lib/utils/getDemoDir.js
  packages/ice-scripts-plugin-component/lib/utils/getDemos.js
  packages/ice-scripts-plugin-component/lib/utils/getPackageVersion.js
  packages/ice-scripts-plugin-component/lib/utils/getReadme.js
  packages/ice-scripts-plugin-component/lib/utils/log.js
  packages/ice-scripts-plugin-component/lib/utils/pkgJson.js
  packages/ice-scripts-plugin-component/lib/utils/setAssetsPath.js
  packages/ice-scripts-plugin-component/package.json
Labels: ice-scripts

#2003 chore: remove useless cli options
  tools/ice-scripts/bin/ice-scripts-build.js
  tools/ice-scripts/bin/ice-scripts-dev.js
Labels: ice-scripts

#1988 docs: ice-scripts 2.0 docs
  docs/cli-1.x/about.md
  docs/cli-1.x/advanced/biz-component.md
  docs/cli-1.x/advanced/custom-template.md
  docs/cli-1.x/advanced/debug.md
  docs/cli-1.x/advanced/mock.md
  docs/cli-1.x/advanced/proxy.md
  docs/cli-1.x/advanced/public.md
  docs/cli-1.x/basic/block.md
  docs/cli-1.x/basic/config.md
  docs/cli-1.x/basic/start.md
  docs/cli-1.x/basic/style.md
  docs/cli-1.x/basic/theme.md
  docs/cli-1.x/basic/typescript.md
  docs/cli-1.x/en-us/about.md
  docs/cli-1.x/en-us/basic/start.md
  docs/cli-1.x/others/bizcharts-size.md
  docs/cli-1.x/others/browser-router.md
  docs/cli-1.x/others/custom-webpack.md
  docs/cli-1.x/others/local-img.md
  docs/cli-1.x/others/moment.md
  docs/cli-1.x/others/monaco-editor.md
  docs/cli/about.md
  docs/cli/config/config-file.md
  docs/cli/config/config.md
  docs/cli/config/custom-webpack.md
  docs/cli/config/plugins.md
  docs/cli/feature/mock.md
  docs/cli/feature/proxy.md
  docs/cli/feature/public.md
  docs/cli/feature/style.md
  docs/cli/feature/typescript.md
  docs/cli/migrate.md
  docs/cli/plugin-dev/api.md
  docs/cli/plugin-list/antd.md
  docs/cli/plugin-list/component.md
  docs/cli/plugin-list/fusion.md
  docs/cli/plugin-list/local.md
  docs/cli/plugin-list/moment.md
  docs/cli/plugin-list/mulit-pages.md
  docs/cli/start.md
  scripts/docConfig.js
  tools/ice-scripts/README.md
Labels: ice-scripts

#2019 feat: generate adaptor template
  tools/ice-devtools/lib/component/add.js
  tools/ice-devtools/package.json
  tools/ice-devtools/template/component/adaptor/index.js
Labels: ice-devtools

#2021 fix: update publicPath of MiniCssExtractPlugin.loader
  tools/ice-scripts/lib/plugins/userConfig/configs/devPublicPath.js
  tools/ice-scripts/lib/plugins/userConfig/configs/publicPath.js
  tools/ice-scripts/lib/plugins/userConfig/utils/updateMiniCssLoaderPath.js
Labels: ice-scripts

#2022 feat: ice-plugin-moment-locales
  packages/ice-plugin-moment-locales/CHANGELOG.md
  packages/ice-plugin-moment-locales/README.md
  packages/ice-plugin-moment-locales/index.js
  packages/ice-plugin-moment-locales/package.json
  tools/ice-scripts/lib/config/setWebpackPlugins.js
Labels: ice-scripts

#2024 feat: init project support
  tools/iceworks-cli/README.md
  tools/iceworks-cli/bin/iceworks.js
  tools/iceworks-cli/command/init.js
  tools/iceworks-cli/command/start.js
  tools/iceworks-cli/lib/checkEmpty.js
  tools/iceworks-cli/lib/checkVersion.js
  tools/iceworks-cli/lib/downloadServer.js
  tools/iceworks-cli/lib/downloadTemplate.js
  tools/iceworks-cli/lib/extractTarball.js
  tools/iceworks-cli/lib/glodlog.js
  tools/iceworks-cli/lib/log.js
  tools/iceworks-cli/package.json
Labels: iceworks 3.0

#2028 feat: update react template for ice-scripts 2.0
  templates/ice-react-material-template/template/block/_package.json
  templates/ice-react-material-template/template/block/ice.config.js
  templates/ice-react-material-template/template/component/_package.json
  templates/ice-react-material-template/template/component/ice.config.js
  templates/ice-react-material-template/template/scaffold/_package.json
  templates/ice-react-material-template/template/scaffold/ice.config.js
Labels: ice-scripts

#2018 [ice-devtools] release-2.3.2
  tools/ice-devtools/CHANGELOG.md
  tools/ice-devtools/lib/component/add.js
  tools/ice-devtools/package.json
  tools/ice-devtools/template/component/adaptor/index.js
Labels: ice-devtools

#2036 [iceworks]fix project panel
  packages/iceworks-client/src/pages/Project/components/SubMenu/index.js
  packages/iceworks-client/src/pages/Project/index.js
Labels: iceworks 3.0

#2033 fix: request field
  tools/iceworks/app/main/glodlog.js
Labels: iceworks

#1955 feat: materials display
  packages/iceworks-client/package.json
  packages/iceworks-client/src/components/BlockCard/index.js
  packages/iceworks-client/src/components/BlockCard/index.module.scss
  packages/iceworks-client/src/components/Card/index.js
  packages/iceworks-client/src/components/ComponentCard/index.js
  packages/iceworks-client/src/components/ComponentCard/index.module.scss
  packages/iceworks-client/src/components/MaterialCategories/index.js
  packages/iceworks-client/src/components/MaterialCategories/index.module.scss
  packages/iceworks-client/src/components/ScaffoldCard/index.js
  packages/iceworks-client/src/components/ScaffoldCard/index.module.scss
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Material/components/BlockPanel/index.js
  packages/iceworks-client/src/pages/Material/components/BlockPanel/index.module.scss
  packages/iceworks-client/src/pages/Material/components/ComponentPanel/index.js
  packages/iceworks-client/src/pages/Material/components/ComponentPanel/index.module.scss
  packages/iceworks-client/src/pages/Material/components/InstallModal/index.js
  packages/iceworks-client/src/pages/Material/components/ScaffoldPanel/index.js
  packages/iceworks-client/src/pages/Material/components/ScaffoldPanel/index.module.scss
  packages/iceworks-client/src/pages/Material/components/SubMenu/index.js
  packages/iceworks-client/src/pages/Material/components/SubMenu/index.module.scss
  packages/iceworks-client/src/pages/Material/index.js
  packages/iceworks-client/src/pages/Material/index.module.scss
  packages/iceworks-client/src/stores/index.js
  packages/iceworks-client/src/stores/material.js
  packages/iceworks-client/src/stores/materials.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/io/controller/material/index.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/interface/base.ts
  packages/iceworks-server/src/lib/getTarballURLByMaterielSource.ts
  packages/iceworks-server/src/lib/request.ts
Labels: iceworks 3.0

#2037 [iceworks] fix cli bug
  tools/iceworks-cli/bin/iceworks.js
  tools/iceworks-cli/lib/formatProject.js
  tools/iceworks-cli/package.json
Labels: iceworks 3.0

#2047 fix: add html plugin for multi entries
  tools/ice-scripts/lib/plugins/userConfig/configs/entry.js
Labels: ice-scripts

#2055 fix: copy public folder to outputDir
  tools/ice-scripts/lib/plugins/userConfig/configs/outputDir.js
Labels: ice-scripts

#2061 [iceworks] support add block cmd
  package.json
  tools/iceworks-cli/CHANGELOG.md
  tools/iceworks-cli/bin/iceworks.js
  tools/iceworks-cli/command/addBlock.js
  tools/iceworks-cli/command/init.js
  tools/iceworks-cli/lib/downloadNpm.js
  tools/iceworks-cli/package.json
Labels: iceworks 3.0
