Repository alibaba/ice, pull requests merged in 2019-08, with the labels that each got.

#2575 Page panel
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/BuildPageModal.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/index.js
Labels: iceworks 3.0

#2579 [iceworks]feat: add template ejs for vue
  packages/iceworks-server/src/lib/adapter-vue-v2/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v2/modules/page/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v2/modules/page/template.vue.ejs
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
Labels: iceworks 3.0

#2581 feat: change log for 3.0.2
  CHANGELOG.md
  packages/iceworks-client/package.json
Labels: iceworks 3.0

#2567 [iceworks] release 3.0.2
  CHANGELOG.md
  packages/iceworks-client/package.json
  packages/iceworks-client/src/components/User/index.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/BuildPageModal.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/index.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/io/controller/material/index.ts
  packages/iceworks-server/src/lib/adapter-cra-v1/README.md
  packages/iceworks-server/src/lib/adapter-cra-v1/index.ts
  packages/iceworks-server/src/lib/adapter-cra-v1/modules/router/index.ts
  packages/iceworks-server/src/lib/adapter-cra-v1/package.json
  packages/iceworks-server/src/lib/adapter-vue-v2/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v2/modules/page/index.ts
  packages/iceworks-server/src/lib/adapter-vue-v2/modules/page/template.vue.ejs
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
  packages/iceworks-server/src/lib/adapter/modules/router/index.ts
  packages/iceworks-server/src/lib/adapter/utils/cliConf.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
  packages/iceworks-server/src/lib/storage.ts
  tools/iceworks-cli/command/start.js
  tools/iceworks-cli/lib/goldlog.js
Labels: iceworks 3.0

#1947 chore: add icestark docs
  docs/icestark/api/app-history.md
  docs/icestark/api/app-link.md
  docs/icestark/api/app-route.md
  docs/icestark/api/app-router.md
  docs/icestark/api/get-basename.md
  docs/icestark/api/get-mount-node.md
  docs/icestark/api/render-not-found.md
  docs/icestark/guide/about.md
  docs/icestark/guide/interaction.md
  docs/icestark/guide/migrating.md
  docs/icestark/guide/start.md
  docs/icestark/reference/isolation.md
  scripts/docConfig.js
Labels: docs, icestark

#2599 feat: separate log output
  packages/iceworks-client/ice.config.js
  packages/iceworks-client/src/components/GlobalBar/index.js
  packages/iceworks-client/src/components/GlobalBar/index.module.scss
  packages/iceworks-client/src/components/XtermTerminal/index.module.scss
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Engineering/components/Task/index.js
  packages/iceworks-client/src/pages/Project/components/QuickBuildPanel/index.js
  packages/iceworks-client/src/pages/Project/components/QuickDevPanel/index.js
  packages/iceworks-client/src/utils/writeGlobalLog.js
Labels: iceworks 3.0

#2640 fix: add adapter-react-v0
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2628 feat: user can set working path by inputting
  packages/iceworks-client/src/components/SelectWorkFolderModal/index.js
  packages/iceworks-client/src/components/SelectWorkFolderModal/index.module.scss
  packages/iceworks-server/src/app/io/controller/home/setting.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/lib/scanDirectory.ts
  packages/iceworks-server/src/locales/en-US.json
  packages/iceworks-server/src/locales/zh-CN.json
Labels: iceworks 3.0

#2629 Fix iceworks-server unable to start if project directory is not present in local environment
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2614 fix：修复小二工作台相关体验问题
  packages/iceworks-client/src/components/CreateProjectModal/index.js
  packages/iceworks-client/src/hooks/useProject.js
  packages/iceworks-client/src/pages/Material/index.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/SavePageModal.js
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2649 fix: socket disconnect
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/controller/goldlog.ts
  packages/iceworks-server/src/app/io/controller/material/index.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/lib/remoteLogger/index.ts
Labels: iceworks 3.0

#2648 iceworks/release 3.0.3 changelog
  CHANGELOG.md
Labels: iceworks 3.0

#2651 chore: new version
  packages/iceworks-client/package.json
  packages/iceworks-server/package.json
Labels: iceworks 3.0

#2655 chore: rebuild before publish
  packages/iceworks-server/package.json
Labels: iceworks 3.0

#2590 Iceworks/release 3.0.3
  CHANGELOG.md
  packages/iceworks-client/ice.config.js
  packages/iceworks-client/package.json
  packages/iceworks-client/src/components/CreateProjectModal/index.js
  packages/iceworks-client/src/components/GlobalBar/index.js
  packages/iceworks-client/src/components/GlobalBar/index.module.scss
  packages/iceworks-client/src/components/SelectWorkFolderModal/index.js
  packages/iceworks-client/src/components/SelectWorkFolderModal/index.module.scss
  packages/iceworks-client/src/components/XtermTerminal/index.module.scss
  packages/iceworks-client/src/hooks/useProject.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Engineering/components/Task/index.js
  packages/iceworks-client/src/pages/Material/index.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/SavePageModal.js
  packages/iceworks-client/src/pages/Project/components/QuickBuildPanel/index.js
  packages/iceworks-client/src/pages/Project/components/QuickDevPanel/index.js
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/stores/task.js
  packages/iceworks-client/src/utils/writeGlobalLog.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/controller/goldlog.ts
  packages/iceworks-server/src/app/io/controller/home/setting.ts
  packages/iceworks-server/src/app/io/controller/material/index.ts
  packages/iceworks-server/src/app/router.ts
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
  packages/iceworks-server/src/lib/remoteLogger/index.ts
  packages/iceworks-server/src/lib/scanDirectory.ts
  packages/iceworks-server/src/locales/en-US.json
  packages/iceworks-server/src/locales/zh-CN.json
Labels: iceworks 3.0

#2658 [iceworks] release 3.0.4
  CHANGELOG.md
  packages/iceworks-client/ice.config.js
  packages/iceworks-client/package.json
  packages/iceworks-client/src/components/GlobalBar/index.js
  packages/iceworks-client/src/components/GlobalBar/index.module.scss
  packages/iceworks-client/src/components/XtermTerminal/index.js
  packages/iceworks-client/src/utils/writeGlobalLog.js
  packages/iceworks-server/package.json
Labels: iceworks 3.0

#2653 Iceworks cli/log install info
  tools/iceworks-cli/lib/downloadServer.js
Labels: iceworks-cli

#2672 fix: use cnpm registry when install server deps
  tools/iceworks-cli/lib/downloadServer.js
Labels: iceworks-cli

#2676 fix: 兼容物料数据里 screentshots 字段不存在的情况
  packages/iceworks-client/jsconfig.json
  packages/iceworks-client/src/components/ScaffoldCard/index.js
Labels: iceworks 3.0

#2685 fix: page name
  packages/iceworks-server/package.json
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
Labels: iceworks 3.0

#2686 [iceworks] fix encode error for log
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
Labels: iceworks 3.0

#2681 [iceworks] fix cli args not working
  packages/iceworks-server/src/lib/adapter/locales/en-US.json
  packages/iceworks-server/src/lib/adapter/locales/zh-CN.json
  packages/iceworks-server/src/lib/adapter/modules/task/getTaskConfig.ts
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
Labels: iceworks 3.0

#2646 [iceworks-cli] release 3.0.3
  tools/iceworks-cli/CHANGELOG.md
  tools/iceworks-cli/lib/downloadServer.js
  tools/iceworks-cli/package.json
Labels: iceworks-cli, release pr

#2688 fix: create page
  packages/iceworks-client/package.json
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/BuildPageModal.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/SavePageModal.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/index.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/interface/base.ts
  packages/iceworks-server/src/lib/adapter/locales/en-US.json
  packages/iceworks-server/src/lib/adapter/locales/zh-CN.json
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
Labels: iceworks 3.0

#2675 [iceworks] release 3.0.5
  CHANGELOG.md
  packages/iceworks-client/jsconfig.json
  packages/iceworks-client/package.json
  packages/iceworks-client/src/components/ScaffoldCard/index.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/BuildPageModal.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/SavePageModal.js
  packages/iceworks-client/src/pages/Project/components/PagePanel/index.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/interface/base.ts
  packages/iceworks-server/src/lib/adapter/locales/en-US.json
  packages/iceworks-server/src/lib/adapter/locales/zh-CN.json
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
  packages/iceworks-server/src/lib/adapter/modules/task/getTaskConfig.ts
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
Labels: iceworks 3.0

#2664 [iceworks]: feat add install dependence to task
  packages/iceworks-client/src/components/TaskBar/index.js
  packages/iceworks-client/src/hooks/useTask.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Engineering/components/Task/index.js
Labels: iceworks 3.0

#2666 fix: can't instantiate two global terminals
  packages/iceworks-client/ice.config.js
  packages/iceworks-client/src/components/GlobalBar/index.js
  packages/iceworks-client/src/components/GlobalBar/index.module.scss
  packages/iceworks-client/src/hooks/useDependency.js
  packages/iceworks-client/src/pages/Project/components/DEFPanel/index.js
  packages/iceworks-client/src/stores/globalTerminal.js
Labels: iceworks 3.0

#2668 Project Page: Use destructured variable from hooks and refactor reloadAdapter
  packages/iceworks-client/src/hooks/useProject.js
  packages/iceworks-client/src/pages/Project/index.js
Labels: iceworks 3.0

#2699 docs: 完善私有物料文档
  docs/materials/guide/dev.md
  docs/materials/guide/generate.md
  docs/materials/guide/sync.md
  docs/materials/recommand.md
  docs/materials/reference/private.md
  docs/materials/template/angular.md
  docs/materials/template/custom.md
Labels: docs, ice-devtools

#2701 fix: move block
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
Labels: iceworks 3.0

#2702 feat: set progress color for dark
  packages/iceworks-client/package.json
Labels: iceworks 3.0

#2696 [iceworks] support unpkg assets
  packages/iceworks-server/src/app/middleware/client.ts
Labels: iceworks 3.0

#2698 [iceworks] fix cnpm client
  packages/iceworks-server/src/lib/adapter/modules/dependency/index.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
Labels: iceworks 3.0

#2707 feat: add loading for open project
  packages/iceworks-client/src/components/SelectWorkFolderModal/index.js
  packages/iceworks-client/src/hooks/useProject.js
  packages/iceworks-client/src/pages/Project/index.js
Labels: iceworks 3.0

#2706 fix: allow select empty folders as work folder
  packages/iceworks-server/src/app/io/controller/home/setting.ts
  packages/iceworks-server/src/lib/adapter/modules/layout/index.ts
  packages/iceworks-server/src/lib/scanDirectory.ts
Labels: iceworks 3.0

#2710 chore: add changelog
  CHANGELOG.md
Labels: iceworks 3.0

#2712 chore: changelog for 3.1.0
  CHANGELOG.md
Labels: iceworks 3.0

#2695 [iceworks-cli] add backup logic
  tools/iceworks-cli/bin/iceworks.js
  tools/iceworks-cli/command/start.js
  tools/iceworks-cli/lib/downloadServer.js
  tools/iceworks-cli/package.json
Labels: iceworks-cli

#2711 fix: block dependencies need to be installed at the same time when adding blocks
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
  packages/iceworks-server/src/lib/scanDirectory.ts
Labels: iceworks 3.0

#2692 [iceworks-cli] add changelog url
  tools/iceworks-cli/bin/iceworks.js
  tools/iceworks-cli/command/start.js
Labels: iceworks-cli

#2662 [iceworks] release 3.1.0
  CHANGELOG.md
  packages/iceworks-client/ice.config.js
  packages/iceworks-client/package.json
  packages/iceworks-client/src/components/GlobalBar/index.js
  packages/iceworks-client/src/components/GlobalBar/index.module.scss
  packages/iceworks-client/src/components/SelectWorkFolderModal/index.js
  packages/iceworks-client/src/components/TaskBar/index.js
  packages/iceworks-client/src/hooks/useDependency.js
  packages/iceworks-client/src/hooks/useProject.js
  packages/iceworks-client/src/hooks/useTask.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Engineering/components/Task/index.js
  packages/iceworks-client/src/pages/Project/components/DEFPanel/index.js
  packages/iceworks-client/src/pages/Project/index.js
  packages/iceworks-client/src/stores/globalTerminal.js
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/io/controller/home/setting.ts
  packages/iceworks-server/src/app/middleware/client.ts
  packages/iceworks-server/src/lib/adapter/modules/dependency/index.ts
  packages/iceworks-server/src/lib/adapter/modules/layout/index.ts
  packages/iceworks-server/src/lib/adapter/modules/page/index.ts
  packages/iceworks-server/src/lib/plugin/project-manager/app.ts
  packages/iceworks-server/src/lib/scanDirectory.ts
Labels: iceworks 3.0, release pr

#2691 [iceworks-cli] release 3.0.4
  tools/iceworks-cli/CHANGELOG.md
  tools/iceworks-cli/bin/iceworks.js
  tools/iceworks-cli/command/start.js
  tools/iceworks-cli/lib/downloadServer.js
  tools/iceworks-cli/package.json
Labels: iceworks-cli

#2721 [iceworks] release 3.1.1
  CHANGELOG.md
  packages/iceworks-client/package.json
  packages/iceworks-server/package.json
  packages/iceworks-server/src/app/middleware/client.ts
Labels: iceworks 3.0

#2720 [iceworks-cli] release 3.0.5
  tools/iceworks-cli/CHANGELOG.md
  tools/iceworks-cli/command/start.js
  tools/iceworks-cli/package.json
Labels: iceworks-cli

#2727 doc: add icekit pro migrate spec
  docs/guide/resource/migrate.md
Labels: icekit

#2719 docs: upgrade iceworks
  docs/iceworks/migrate.md
  docs/iceworks/upgrade.md
Labels: iceworks-cli

#2734 Iceworks/fix global log style
  packages/iceworks-client/src/components/XtermTerminal/index.module.scss
Labels: iceworks 3.0

#2735 Iceworks/install tnpm by default
  packages/iceworks-server/scripts/install.js
Labels: iceworks 3.0

#2746 chore: Optimizing Project Panel
  packages/iceworks-client/src/components/TipIcon/index.js
  packages/iceworks-client/src/locales/en-US/index.js
  packages/iceworks-client/src/locales/zh-CN/index.js
  packages/iceworks-client/src/pages/Project/components/RouterPanel/CreateRouterModal.js
Labels: iceworks 3.0

#2739 Iceworks/display project info
  packages/iceworks-client/src/hooks/useProject.js
  packages/iceworks-client/src/hooks/useTask.js
  packages/iceworks-client/src/pages/Project/components/QuickDevPanel/index.js
  packages/iceworks-client/src/pages/Project/components/TaskItem/index.js
  packages/iceworks-client/src/pages/Project/components/TaskItem/index.module.scss
  packages/iceworks-client/src/stores/task.js
  packages/iceworks-server/src/lib/adapter/modules/task/index.ts
Labels: iceworks 3.0

#2750 Chang Log for 3.2.0
  CHANGELOG.md
Labels: iceworks 3.0

#2751 chore: modify directory && add github link
  docs/icestore/about.md
  docs/icestore/guide/async.md
  docs/icestore/guide/concept.md
  docs/icestore/guide/debug.md
  docs/icestore/guide/middleware.md
  docs/icestore/guide/recommend.md
  docs/icestore/reference/api.md
  docs/icestore/reference/migrate.md
  docs/icestore/start.md
Labels: docs

#2752 feat: icestore docConfig
  scripts/docConfig.js
Labels: docs

#2754 fix: iceworks CLI urls
  README.en-US.md
  README.md
Labels: docs

#2755 fix: better set relative path
  packages/iceworks-client/scripts/upload-oss.js
Labels: iceworks 3.0

#2756 chore: show which adapter got error
  packages/iceworks-server/src/app/io/middleware/adapter.ts
Labels: iceworks 3.0
